<template>
  <div class="about">
    <h1>About Us</h1>
    <h4>
      This app is powered by
      <a href="http://www.paladinsinhell.com">PaladinsInHell.com</a>
    </h4>
    <br>
    <h3>Developers</h3>
    <p>Artem Skitenko, David Velez, Harry Staley</p>
  </div>
</template>
<script>
// @vuese
// @group Views
// About page
export default {
  name: "About"
};
</script>
