<!--
Developer: David Velez
-->

<!-- Battle/Character Tab View -->
<template>
<div>
  <h1>{{ campaignName }}</h1>
  <hr>
  <v-tabs slot="extension" v-model="tabs" centered color="transparent" slider-color="yellow">
    <v-tab>Battles</v-tab>
    <v-tab>Characters</v-tab>
  </v-tabs>

  <!-- List of Battles and Characters on Respective Tabs -DV -->
  <v-tabs-items v-model="tabs">
    <v-tab-item>
      <v-card>
        <v-card-text>
          <v-list>
            <template v-for="(battle, index) in battles">
              <!-- If you click on battle, it navigates to the specific battle -DV -->
              <v-list-tile v-ripple style="cursor: pointer" :key="index" @click="goToCombat(campaignId, battle.id)">
                <v-list-tile-content>
                  <v-list-tile-title>
                    <div class="opposite-sides-string-wrapper">
                      <div>{{ battle.name }}</div>
                      <div class="opposite-sides-right">{{ battle.created_dt }}</div>
                    </div>
                  </v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
              <v-divider v-if="index + 1 < battles.length" :key="`divider1-${index}`"></v-divider>
            </template>
          </v-list>
        </v-card-text>
      </v-card>
    </v-tab-item>
    <v-tab-item>
      <v-card>
        <v-card-text>
          <v-list>
            <template v-for="(character, index) in characters">
              <v-list-tile v-ripple style="cursor: pointer" :key="index">
                <v-list-tile-content>
                  <v-list-tile-title>
                    <div class="opposite-sides-string-wrapper">
                      <div>{{ character.entity.name }}</div>
                      <div class="opposite-sides-right">{{ character.class + ', ' + (character.level + "").padStart(3, '&nbsp;') + ' lvl'}}</div>
                    </div>
                  </v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
              <v-divider v-if="index + 1 < characters.length" :key="`divider2-${index}`"></v-divider>
            </template>
          </v-list>
        </v-card-text>
      </v-card>
    </v-tab-item>
  </v-tabs-items>

  <!-- Create Battles Prompt -DV -->
  <v-layout class="battles_FAB_wrapper">
    <!-- Tabs focus works inside dialog with lazy: https://github.com/vuetifyjs/vuetify/issues/4520 -DV -->
    <v-btn v-if="tabs==1" color="blue" dark medium fixed bottom right fab @click="goToCharacterCreate">
      <v-icon>add</v-icon>
    </v-btn>
    <v-dialog v-model="dialog" lazy fullscreen hide-overlay transition="dialog-bottom-transition">
      <v-btn slot="activator" color="blue" dark medium fixed bottom right fab v-if="tabs==0" @click="createDefaults()">
        <v-icon>add</v-icon>
      </v-btn>
      <v-layout>
        <v-flex>
          <v-card>
            <v-card-title>
              <v-text-field v-model="newBattleName" :error-messages="nameErrors" :counter="40" label="New Battle Name" required @input="$v.newBattleName.$touch()" @blur="$v.newBattleName.$touch()"></v-text-field>
            </v-card-title>
            <div>
              <v-tabs slot="extension" v-model="popup_tabs" centered color="transparent" slider-color="yellow">
                <v-tab @click="verifyAllChars()">Select Characters</v-tab>
                <v-tab @click="combatantsChecked(characters, monsters)">Battle Summary</v-tab>
                <v-tab @click="verifyAllMons()">Select Monsters</v-tab>
              </v-tabs>
              <v-tabs-items v-model="popup_tabs">
                <v-tab-item>
                  <v-card>
                    <v-subheader>
                      <span style="font-size: 125%;">Characters:&nbsp;</span>
                      <v-checkbox style="margin-top: 1.2em;" :label="`All`" v-model="select_all_characters" @change="checkAll(characters, select_all_characters)"></v-checkbox>
                    </v-subheader>
                    <v-container fluid>
                      <v-layout row align-center justify-space-around fill-height>
                        <v-flex v-for="(character, index) in characters" :key="index">
                          <v-checkbox :label="character.name" v-model="character.selected" @change="verifyAllChars()"></v-checkbox>
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-card>
                </v-tab-item>
                <v-tab-item>
                  <v-card>
                    <br>
                    <h1 text-align="center">Combatants</h1>
                    <br>
                    </v-card>
                    <v-card>
                      <v-container grid-list-md text-xs-center>
                        <v-layout row wrap>
                          <v-flex v-for="i in 3" :key="i" xs4>
                            <template v-for="(combatant, index) in combatants">
                              <v-card style="box-shadow: 0px 0px 10px cornflowerblue; border-radius: 0.2em;" :key="index">
                                <div v-if="i == 1 && combatant.type == 'character'" :key="index">
                                  {{ combatant.name }}
                                  <v-divider v-if="index + 1 < combatants.length"></v-divider>
                                </div>
                              </v-card>
                              <v-card style="box-shadow: 0px 0px 10px rgb(237, 100, 118); border-radius: 0.2em;" :key="index">
                                <div v-if="i == 3 && combatant.type == 'monster'">
                                  {{ combatant.name }}
                                  <v-divider v-if="index + 1 < combatants.length"></v-divider>
                                </div>
                              </v-card>
                            </template>
                          </v-flex>
                        </v-layout>
                      </v-container>
                    </v-card>
                </v-tab-item>
                <v-tab-item>
                  <v-card>
                    <v-subheader>
                      <span style="font-size: 125%;">Monsters:&nbsp;</span>
                      <v-checkbox style="margin-top: 1.2em;" :label="`All`" v-model="select_all_monsters" @change="checkAll(monsters, select_all_monsters)"></v-checkbox>
                    </v-subheader>
                    <v-container fluid>
                      <v-layout row align-center justify-space-around fill-height wrap>
                        <v-flex v-for="(monster, index) in monsters" :key="index">
                          <v-checkbox :label="monster.name" v-model="monster.selected" @change="verifyAllMons()"></v-checkbox>
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-card>
                </v-tab-item>
              </v-tabs-items>
            </div>
            <v-spacer></v-spacer>
            <v-btn color="primary lighten-1" flat @click="dialog = false">Cancel</v-btn>
            <v-btn color="primary lighten-1" flat @click="addBattle">Create</v-btn>
          </v-card>
        </v-flex>
      </v-layout>
    </v-dialog>
  </v-layout>
</div>
</template>

<!-- Import json with data and assign them to variables -DV -->

<script>
import {
  validationMixin
} from "vuelidate";
import {
  required,
  maxLength,
  helpers
} from "vuelidate/lib/validators";
import axios from "axios";
const alphaSpaces = helpers.regex("alphaSpaces", /^[a-zA-Z ]*$/);
// @vuese
// @group Views
// This veiw displays the list of battles and characters in current campaign
export default {
  name: "Battles-and-Characters",
  // Watch is used to take in multiple transactions with different campaign IDs -DV
  watch: {
    $route(to, from) {
      to.params.campaignId;
    }
  },
  mixins: [validationMixin],
  validations() {
    return {
      newBattleName: {
        required,
        alphaSpaces,
        maxLength: maxLength(40)
      }
    };
  },
  data() {
    return {
      dialog: false,
      campaignId: this.$route.params.campaignId,
      campaignName: '',
      battles: {},
      characters: [],
      monsters: [],
      tabs: 0, // need this to switch between tabs, otherwise it will not work -DV
      popup_tabs: null,
      newBattleName: null,
      select_all_characters: false,
      select_all_monsters: false,
      combatants: [{
        name: "",
        type: ""
      }]
    };
  },
  computed: {
    // @vuese
    // Returns an array of input validation errors related to the name of a battle.
    nameErrors() {
      const errors = [];
      if (!this.$v.newBattleName.$dirty) return errors;
      !this.$v.newBattleName.alphaSpaces &&
        errors.push(
          "Name must contain only capital, lowercase letters, and spaces. Numeric or Special Characters are not allowed."
        );
      !this.$v.newBattleName.maxLength &&
        errors.push("Name must not be longer than 40 characters.");
      !this.$v.newBattleName.required && errors.push("Name is required.");
      return errors;
    }
  },
  methods: {
    // @vuese
    // Used to assign False value to each monster's and charachter's property named "selected".
    createDefaults() {
      this.characters.forEach(element => {
        element.selected = false;
      });
      this.monsters.forEach(element => {
        element.selected = false;
      });
      this.select_all_characters = false;
      this.select_all_monsters = false;
    },
    // @vuese
    // Used to create a new battle and route the user to the combat.
    addBattle() {
      this.$v.$touch();
      if (!this.$v.$anyError) {
        // Get today's date (Artem's Logic) -DV
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1; // January is 0!

        var yyyy = today.getFullYear();
        if (dd < 10) {
          dd = "0" + dd;
        }
        if (mm < 10) {
          mm = "0" + mm;
        }
        var today = mm + "/" + dd + "/" + yyyy;

        var charCombatants = [];
        this.characters.forEach(character => {
          if (character.selected) {
            charCombatants.push(character.name);
          }
        });

        // Assign values in the JSON file with the new data -DV
        // json.campaigns[this.$route.params.campaignId].battles.unshift({
        //   battleId: json.campaigns[
        //     this.$route.params.campaignId
        //   ].battles.length.toString(),
        //   battleName: this.newBattleName,
        //   // combatants: characters.forEach(element => { element.selected == check }),
        //   combatants: charCombatants,
        //   battleDateCreated: today
        // });
        // Route to Combat - index will always be zero in this case since it's at the top of the stack -DV
        this.$router.push(
          `/combat/campaignIndex=${this.campaignId}&battleIndex=0`
        );
      }
    },
    // @vuese
    // Used to route the user to the combat based on the campaign and battle ids.
    // @arg The first argument is a string value of the campaign id; The second argumet is a string value of the battle id.
    goToCombat(campaignId, battleId) {
      this.$router.push(
        `/combat/campaignIndex=${campaignId}&battleIndex=${battleId}`
      );
    },
    // @vuese
    // Used to route the user to the character creation page.
    goToCharacterCreate() {
      this.$router.push(`/characters/create`);
    },
    // @vuese
    // Used to assign boolean value of the second argument to the property field named "selected" for all characters or foes.
    // @arg The first argument is an array of characters or foes; The second argumet is a boolean value that will be assigned to the property field named "selected" for all characters or foes.
    checkAll(array, check) {
      array.forEach(element => {
        element.selected = check;
      });
    },
    // @vuese
    // Used to filter selected characters and monsters
    // @arg The first argument is an array of characters; The second argumet is an array of monsters.
    combatantsChecked(characters, monsters) {
      this.combatants = [];
      this.characters.forEach(character => {
        if (character.selected) {
          this.combatants.push({
            name: character.name,
            type: "character"
          });
        }
      });
      this.monsters.forEach(monster => {
        if (monster.selected) {
          this.combatants.push({
            name: monster.name,
            type: "monster"
          });
        }
      });
      for (var i = 0; i < this.combatants.length; i++) {
        console.log(
          "Index " +
          i +
          ": " +
          this.combatants[i].name +
          " type: " +
          this.combatants[i].type
        );
      }
    },
    // @vuese
    // Used to check if all characters are selected and write the result to 'this.select_all_characters'.
    verifyAllChars() {
      var all = true;
      this.characters.forEach(element => {
        if (!element.selected) {
          all = false;
          this.select_all_characters = false;
        }
      });
      if (all) {
        this.select_all_characters = true;
      }
    },
    // @vuese
    // Used to check if all monsters are selected and write the result to 'this.select_all_monsters'.
    verifyAllMons() {
      var all = true;
      this.monsters.forEach(element => {
        if (!element.selected) {
          all = false;
          this.select_all_monsters = false;
        }
      });
      if (all) {
        this.select_all_monsters = true;
      }
    }
  },
  // Used to load the list of battles from API and save it to this.battles after the component was mounted.
  mounted() {
    axios
      .get("/api/campaigns/" + this.$route.params.campaignId + "/battles/")
      .then(data => {
        this.battles = data.data.Data;
        console.log(this.battles);
      });
    axios
      .get("/api/campaigns/" + this.$route.params.campaignId + "/")
      .then(data => {
        this.campaignName = data.data.Data.name;
      });
    axios
      .get("/api/campaigns/" + this.$route.params.campaignId + "/characters/")
      .then(data => {
        this.characters = data.data.Data;
        console.log('This characters');
        console.log(this.characters);
      });
    axios
      .get("/api/campaigns/" + this.$route.params.campaignId + "/monsters/")
      .then(data => {
        this.monsters = data.data.Data;
      });
  }
};
</script>

<!-- Styling -DV -->

<style>
@import "../assets/css/battles-and-characters.css";
</style>
