<template>
  <div>
    <v-text-field
      class="search_character"
      outline
      label="Search your characters"
      append-icon="search"
      browser-autocomplete="on"
      @input="searchCharacter"
    ></v-text-field>
    <v-list>
      <template v-for="(character, index) in characters">
        <v-list-tile
          v-ripple
          style="cursor: pointer"
          :key="index"
          @click="goToEntity(character.id)"
        >
          <v-list-tile-content>
            <v-list-tile-title>
              <div class="opposite-sides-string-wrapper">
                <div>{{ character.name }}</div>
                <div
                  class="opposite-sides-right"
                >{{ character.class + ', ' + character.lvl.padStart(3, '&nbsp;') + ' lvl'}}</div>
              </div>
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-divider v-if="index + 1 < characters.length" :key="`divider-${index}`"></v-divider>
      </template>
    </v-list>
    <FabCreatePC create_pc_type="character"></FabCreatePC>
  </div>
</template>

<script>
import FabCreatePC from ".././components/FabCreatePC";
import axios from "axios";
// @vuese
// @group Views
// This veiw displays the list of all characters
export default {
  name: "Characters",
  components: {
    FabCreatePC
  },
  data() {
    return {
      characters: []
    };
  },
  created() {
    axios({
      method: "get",
      url: "/api/characters/"
    })
      .then(response => {
        let temp = response.data["Data"];
        for (let i = 0; i < temp.length; i++) {
          this.characters.push({
            name: temp[i]["entity"]["name"],
            class: temp[i]["class"],
            lvl: "" + temp[i]["level"],
            id: temp[i]["entity_id"]
          });
          console.log(temp[i]["id"]);
        }
      })
      .catch(response => {
        alert("Server error: " + response);
      });
  },
  methods: {
    // @vuese
    // Used to filter characters by their names.
    // @arg The argument is a string that will be matched to the character sequence in each character's name.
    searchCharacter(a) {
      if (this.characters1 === undefined) {
        this.characters1 = this.characters;
        this.characters = this.characters.filter(
          (currentValue, index, array) => {
            if (currentValue.name.toLowerCase().includes(a.toLowerCase())) {
              return true;
            }
          }
        );
      } else {
        this.characters = this.characters1.filter(
          (currentValue, index, array) => {
            if (currentValue.name.toLowerCase().includes(a.toLowerCase())) {
              return true;
            }
          }
        );
      }
    },
    // @vuese
    // Used to route the user to the entity by the id.
    // @arg The first argument is a string value of the entity id.
    goToEntity(campaignId) {
      this.$router.push("/characters/display/id=" + campaignId);
    }
  }
};
</script>

<style>
@import "../assets/css/Characters.css";
</style>
