<!--
Developer: Harry Staley
-->

<template>
  <v-container>
    <v-form ref="form" v-model="valid" lazy-validation>
      <v-layout row wrap>
        <v-flex class="display-2">Character</v-flex>

        <v-flex xs12>
          <v-text-field
            v-model="name"
            :error-messages="nameErrors"
            :counter="25"
            label="Name"
            :disabled="!editable"
            required
            @input="$v.name.$touch()"
            @blur="$v.name.$touch()"
          ></v-text-field>
        </v-flex>

        <v-flex xs12>
          <v-radio-group
            :error-messages="raceErrors"
            v-model="race"
            label="Race"
            :disabled="!editable"
          >
            <v-radio
              v-for="race in race_list"
              :key="race"
              :label="`${race}`"
              :value="`${race}`"
              @input="$v.race.$touch()"
              @blur="$v.race.$touch()"
            ></v-radio>
          </v-radio-group>
        </v-flex>

        <v-flex xs12>
          <v-radio-group
            :error-messages="classErrors"
            v-model="ch_class"
            label="Class"
            :disabled="!editable"
          >
            <v-radio
              v-for="ch_class in ch_class_list"
              :key="ch_class"
              :label="`${ch_class}`"
              :value="`${ch_class}`"
              @input="$v.ch_class.$touch()"
              @blur="$v.ch_class.$touch()"
            ></v-radio>
          </v-radio-group>
        </v-flex>

        <v-flex xs12>
          <v-flex class="display-1">Attributes</v-flex>
        </v-flex>

        <v-subheader class="pl-0">Strength</v-subheader>
        <v-flex xs12>
          <v-slider
            thumb-label="always"
            v-model="strength_base"
            :error-messages="strengthErrors"
            :max="18"
            :min="3"
            :step="1"
            :disabled="!editable"
            @input="$v.strength_base.$touch()"
            @blur="$v.strength_base.$touch()"
          ></v-slider>
        </v-flex>

        <v-subheader class="pl-0">Dexterity</v-subheader>
        <v-flex xs12>
          <v-slider
            thumb-label="always"
            v-model="dexterity_base"
            :error-messages="dexterityErrors"
            :max="18"
            :min="3"
            :step="1"
            @input="$v.dexterity_base.$touch()"
            :disabled="!editable"
            @blur="$v.dexterity_base.$touch()"
          ></v-slider>
        </v-flex>

        <v-subheader class="pl-0">Constitution</v-subheader>
        <v-flex xs12>
          <v-slider
            thumb-label="always"
            v-model="constitution_base"
            :error-messages="constitutionErrors"
            :max="18"
            :min="3"
            :step="1"
            :disabled="!editable"
            @input="$v.constitution_base.$touch()"
            @blur="$v.constitution_base.$touch()"
          ></v-slider>
        </v-flex>

        <v-subheader class="pl-0">Intelligence</v-subheader>
        <v-flex xs12>
          <v-slider
            thumb-label="always"
            v-model="intelligence_base"
            :error-messages="intelligenceErrors"
            :max="18"
            :min="3"
            :step="1"
            :disabled="!editable"
            @input="$v.intelligence_base.$touch()"
            @blur="$v.intelligence_base.$touch()"
          ></v-slider>
        </v-flex>

        <v-subheader class="pl-0">Wisdom</v-subheader>
        <v-flex xs12>
          <v-slider
            thumb-label="always"
            v-model="wisdom_base"
            :error-messages="wisdomErrors"
            :max="18"
            :min="3"
            :step="1"
            :disabled="!editable"
            @input="$v.wisdom_base.$touch()"
            @blur="$v.wisdom_base.$touch()"
          ></v-slider>
        </v-flex>

        <v-subheader class="pl-0">Charisma</v-subheader>
        <v-flex xs12>
          <v-slider
            thumb-label="always"
            v-model="charisma_base"
            :error-messages="charismaErrors"
            :max="18"
            :min="3"
            :step="1"
            :disabled="!editable"
            @input="$v.charisma_base.$touch()"
            @blur="$v.charisma_base.$touch()"
          ></v-slider>
        </v-flex>
        <v-flex xs12>
          <v-flex class="display-1">Description</v-flex>
        </v-flex>
        <v-flex xs12>
          <v-select
            v-model="ch_background"
            :items="ch_background_list"
            :error-messages="backgroundErrors"
            label="Background"
            :disabled="!editable"
            required
            @change="$v.ch_background.$touch()"
            @blur="$v.ch_background.$touch()"
          ></v-select>
        </v-flex>

        <v-flex xs12>
          <v-select
            v-model="ch_alignment"
            :items="ch_alignment_list"
            :error-messages="alignmentErrors"
            label="Alignment"
            :disabled="!editable"
            required
            @change="$v.ch_alignment.$touch()"
            @blur="$v.ch_alignment.$touch()"
          ></v-select>
        </v-flex>

        <v-flex xs12>
          <v-text-field
            v-model="faith"
            :error-messages="faithErrors"
            :counter="25"
            label="Faith"
            :disabled="!editable"
            @input="$v.faith.$touch()"
            @blur="$v.faith.$touch()"
          ></v-text-field>
        </v-flex>

        <v-btn v-if="editable" :disabled="!editable || !valid" @click="submit">submit</v-btn>
        <v-btn v-if="this.$route.name == 'displayCharacter'" @click="edit">edit</v-btn>
      </v-layout>
    </v-form>
  </v-container>
</template>

<script>
import { validationMixin } from "vuelidate";
import {
  required,
  requiredIf,
  maxLength,
  between,
  helpers
} from "vuelidate/lib/validators";
import axios from "axios";
// Custom Regex Validation so that the text fields will accept spaces.
const alphaSpaces = helpers.regex("alphaSpaces", /^[a-zA-Z ]*$/);
// @vuese
// @group Views
// This veiw displays character creation page
export default {
  name: "Character",
  watch: {
    $route(to, from) {
      // react to route changes...
      location.reload(true); // vanilla javascript method
    },
    id(newId, oldId) {
      console.log("NEW CHARACTER TURN!!!!!!!!!!!");
      this.requestEntity("/api/characters/" + newId + "/");
    }
  },
  mixins: [validationMixin],
  validations() {
    return {
      name: {
        required,
        requiredIf,
        alphaSpaces,
        maxLength: maxLength(25)
      },
      race: {
        required
      },
      ch_class: {
        required
      },
      strength_base: {
        required,
        between: between(3, 18)
      },
      dexterity_base: {
        required,
        between: between(3, 18)
      },
      constitution_base: {
        required,
        between: between(3, 18)
      },
      intelligence_base: {
        required,
        between: between(3, 18)
      },
      wisdom_base: {
        required,
        between: between(3, 18)
      },
      charisma_base: {
        required,
        between: between(3, 18)
      },
      ch_background: {
        required
      },
      ch_alignment: {
        required
      },
      faith: {
        requiredIf: requiredIf(() => {
          return (
            this.ch_class === "Paladin" ||
            this.ch_class === "Druid" ||
            this.ch_class === "Cleric"
          );
        }),
        alphaSpaces,
        maxLength: maxLength(25)
      }
    };
  },
  props: {
    // Current entity id
    id: {
      type: String,
      required: false
    }
  },
  data: () => ({
    valid: false,
    editable: false, // default value for the form fields on this page.
    name: null,
    race: null,
    race_list: [
      "Dragonborn",
      "Dwarf",
      "Elf",
      "Half Elf",
      "Halfling",
      "Half Orc",
      "Human",
      "Tiefling"
    ],
    ch_class: null,
    ch_class_list: [
      "Barbarian",
      "Bard",
      "Cleric",
      "Druid",
      "Fighter",
      "Monk",
      "Paladin",
      "Ranger",
      "Rogue",
      "Sorcerer",
      "Warlock",
      "Wizard"
    ],
    strength_base: 3,
    dexterity_base: 3,
    agility_base: 3,
    intelligence_base: 3,
    constitution_base: 3,
    wisdom_base: 3,
    charisma_base: 3,
    ch_background: null,
    ch_background_list: [
      "Far Traveler",
      "Noble",
      "Guild Artisan",
      "Waterdhavian Noble",
      "Outlander",
      "Urchin",
      "Entertainer",
      "Mercenary Veteran",
      "Clan Crafter",
      "Sage",
      "Knight of the Order",
      "Urban Bounty Hunter",
      "Cloistered Scholar",
      "Folk Hero",
      "Sailor",
      "Hermit",
      "City Watch",
      "Soldier",
      "Charlatan",
      "Criminal",
      "Acolyte",
      "Courtier",
      "Uthgardt Tribe Member",
      "Faction Agent",
      "Inheritor"
    ],
    ch_alignment: null,
    ch_alignment_list: [
      "Lawful Good",
      "Neutral Good",
      "Chaotic Good",
      "Lawful Neutral",
      "True Neutral",
      "Chaotic Neutral",
      "Lawful Evil",
      "Neutral Evil",
      "Chaotic Evil"
    ],
    faith: null
  }),
  computed: {
    // @vuese
    // Returns an array of input validation errors related to the background.
    backgroundErrors() {
      const errors = [];
      if (!this.$v.ch_background.$dirty) return errors;
      !this.$v.ch_background.required && errors.push("Background is required");
      return errors;
    },
    // @vuese
    // Returns an array of input validation errors related to the alignment.
    alignmentErrors() {
      const errors = [];
      if (!this.$v.ch_alignment.$dirty) return errors;
      !this.$v.ch_alignment.required && errors.push("Alignment is required");
      return errors;
    },
    // @vuese
    // Returns an array of input validation errors related to the class.
    classErrors() {
      const errors = [];
      if (!this.$v.ch_class.$dirty) return errors;
      !this.$v.ch_class.required && errors.push("Class is required");
      return errors;
    },
    // @vuese
    // Returns an array of input validation errors related to the race.
    raceErrors() {
      const errors = [];
      if (!this.$v.race.$dirty) return errors;
      !this.$v.race.required && errors.push("Race is required");
      return errors;
    },
    // @vuese
    // Returns an array of input validation errors related to the faith.
    faithErrors() {
      const errors = [];
      if (!this.$v.faith.$dirty) return errors;
      !this.$v.faith.alphaSpaces &&
        errors.push(
          "Faith must contain only capital, lowercase letters, and spaces. Numeric or Special Characters are not allowed."
        );
      !this.$v.faith.maxLength &&
        errors.push("Faith must not be longer than 25 characters.");
      !this.$v.faith.requiredIf &&
        errors.push("Faith is required for your selected class.");
      return errors;
    },
    // @vuese
    // Returns an array of input validation errors related to the name of a character.
    nameErrors() {
      const errors = [];
      if (!this.$v.name.$dirty) return errors;
      !this.$v.name.alphaSpaces &&
        errors.push(
          "Name must contain only capital, lowercase letters, and spaces. Numeric or Special Characters are not allowed."
        );
      !this.$v.name.maxLength &&
        errors.push("Name must not be longer than 25 characters.");
      !this.$v.name.required && errors.push("Name is required.");
      return errors;
    },
    // @vuese
    // Returns an array of input validation errors related to strength.
    strengthErrors() {
      const errors = [];
      if (!this.$v.strength_base.$dirty) return errors;
      !this.$v.strength_base.between &&
        errors.push("Strength must be between 3 and 18.");
      !this.$v.strength_base.required && errors.push("Attribute required");
      return errors;
    },
    // @vuese
    // Returns an array of input validation errors related to dexterity.
    dexterityErrors() {
      const errors = [];
      if (!this.$v.dexterity_base.$dirty) return errors;
      !this.$v.dexterity_base.between &&
        errors.push("Strength must be between 3 and 18.");
      !this.$v.dexterity_base.required && errors.push("Attribute required");
      return errors;
    },
    // @vuese
    // Returns an array of input validation errors related to intelligence.
    intelligenceErrors() {
      const errors = [];
      if (!this.$v.intelligence_base.$dirty) return errors;
      !this.$v.intelligence_base.between &&
        errors.push("Strength must be between 3 and 18.");
      !this.$v.intelligence_base.required && errors.push("Attribute required");
      return errors;
    },
    // @vuese
    // Returns an array of input validation errors related to constitution.
    constitutionErrors() {
      const errors = [];
      if (!this.$v.constitution_base.$dirty) return errors;
      !this.$v.constitution_base.between &&
        errors.push("Strength must be between 3 and 18.");
      !this.$v.constitution_base.required && errors.push("Attribute required");
      return errors;
    },
    // @vuese
    // Returns an array of input validation errors related to wisdom.
    wisdomErrors() {
      const errors = [];
      if (!this.$v.wisdom_base.$dirty) return errors;
      !this.$v.wisdom_base.between &&
        errors.push("Strength must be between 3 and 18.");
      !this.$v.wisdom_base.required && errors.push("Attribute required");
      return errors;
    },
    // @vuese
    // Returns an array of input validation errors related to the charisma.
    charismaErrors() {
      const errors = [];
      if (!this.$v.charisma_base.$dirty) return errors;
      !this.$v.charisma_base.between &&
        errors.push("Strength must be between 3 and 18.");
      !this.$v.charisma_base.required && errors.push("Attribute required");
      return errors;
    }
  },
  // Used to populate the character sheet with hardcoded dummy data and toggle this.editable property based on the route after the component was mounted.
  mounted() {
    // The code inside here runs on render
    this.$nextTick(() => {
      // This code will run only after the
      // entire view has been rendered
      console.log("this.$route.name" + this.$route.name);
      switch (this.$route.name) {
        case "createCharacter":
          this.editable = true;
          break;
        case "editCharacter":
          this.editable = true;
          this.requestEntity("/api/characters/" + this.$route.params.id + "/");
          break;
        case "displayCharacter":
          this.editable = false;
          this.requestEntity("/api/characters/" + this.$route.params.id + "/");
          break;
        default:
          this.editable = false;
          this.requestEntity("/api/characters/" + this.id + "/");
      }
    });
  },
  methods: {
    // @vuese
    // Used to request data about the entity from the server.
    // @arg The argument is an API url.
    requestEntity(url) {
      console.log("axios url " + url);
      axios({
        method: "get",
        url: url
      })
        .then(response => {
          let temp = response.data["Data"];
          this.name = temp.entity.name;
          this.race = temp.race;
          this.ch_class = temp.class;
          this.strength_base = temp.entity.strength_base;
          this.dexterity_base = temp.entity.dexterity_base;
          this.agility_base = temp.entity.agility_base;
          this.intelligence_base = temp.entity.intelligence_base;
          this.constitution_base = temp.entity.constitution_base;
          this.wisdom_base = temp.entity.wisdom_base;
          this.charisma_base = temp.entity.charisma_base;
          this.ch_background = temp.background;
          this.ch_alignment = temp.alignment;
          this.faith = temp.faith;
          this.race_id = temp.race_id;
          this.class_id = temp.class_id;
          this.level = temp.level;
          this.background_id = temp.background_id;
          this.alignment_id = temp.alignment_id;
          this.character_id = temp.id;
        })
        .catch(response => {
          alert("Server error: " + response);
        });
    },
    // @vuese
    // Used to send data for the character sheet to the server.
    submit() {
      this.$refs.form.resetValidation();
      this.$v.$touch();
      if (!this.$refs.form.validate()) {
        return;
      }
      axios({
        method: this.$route.name == "editCharacter" ? "put" : "post",
        url:
          this.$route.name == "editCharacter"
            ? "/api/characters/" + this.character_id + "/"
            : "/api/characters/",
        data: {
          user_id: 1,
          name: this.name,
          strength_base: this.strength_base,
          dexterity_base: this.dexterity_base,
          constitution_base: this.constitution_base,
          intelligence_base: this.intelligence_base,
          wisdom_base: this.wisdom_base,
          charisma_base: this.charisma_base,
          alignment_id: this.alignment_id,
          faith: this.faith,
          race_id: this.race_id,
          class_id: this.class_id,
          level: this.level,
          background_id: this.background_id
        },
        config: {
          headers: {
            "Content-Type": "multipart/form-data"
          }
        }
      })
        .then(response => {
          alert("Success");
        })
        .catch(response => {
          alert("Server error: " + response);
        });
    },
    // @vuese
    // Used to route the user to the edit character sheet route.
    edit() {
      this.$router.push("/characters/edit/id=" + this.$route.params.id + "/");
    }
  }
};
</script>
