<template>
<div>
  <v-tabs slot="extension" v-model="tabs" centered color="transparent" slider-color="yellow">
    <v-tab>Initiative</v-tab>
    <v-tab>Turn log</v-tab>
    <v-tab>Character sheet</v-tab>
  </v-tabs>
  <v-tabs-items v-model="tabs">
    <v-tab-item>
      <Initiative :campaignIndex="campaignIndex" :battleIndex="battleIndex"></Initiative>
    </v-tab-item>
    <v-tab-item>
      <Activity :campaignIndex="campaignIndex" :battleIndex="battleIndex"></Activity>
    </v-tab-item>
    <v-tab-item>
      <Sheet v-if="isChar && (this.currentTurn >= 0 && this.initiativeOrder.length > 0)" :id="this.turnEntityId"></Sheet>
      <Stats v-if="!isChar && (this.currentTurn >= 0 && this.initiativeOrder.length > 0)" :id="this.turnEntityId"></Stats>
      <NotFound v-if="!(this.currentTurn >= 0 && this.initiativeOrder.length > 0)"></NotFound>
    </v-tab-item>
  </v-tabs-items>
</div>
</template>

<script>
import Initiative from ".././components/Initiative";
import Activity from ".././components/Activity";
import Sheet from "./Character.vue";
import Stats from "./Monster.vue";
import NotFound from '../views/NotFound'
import {
  mapGetters
} from "vuex";
import {
  mapActions
} from "vuex";
import axios from "axios";

// @vuese
// @group Views
// This view loads three components (Initiative, Activity and Sheet) that together implement combat tracking functionality
export default {
  components: {
    Initiative,
    Activity,
    Sheet,
    Stats,
    NotFound
  },
  watch: {
    $route(to, from) {
      this.clearTurnQueue();
      to.params.campaignId, to.params.battleId;
    }
  },
  data() {
    return {
      campaignIndex: this.$route.params.campaignId,
      battleIndex: this.$route.params.battleId,
      tabs: null,
      entities: []
    };
  },
  methods: {
    ...mapActions(["clearTurnQueue"])
  },
  computed: {
    ...mapGetters(["currentTurn", "turnEntityId", "initiativeOrder"]),
    isChar() {
      console.log('this.currentTurn');
      console.log(this.currentTurn);
      console.log('this.initiativeOrder.length');
      console.log(this.initiativeOrder.length);
      if (this.currentTurn >= 0 && this.initiativeOrder.length > 0)
        return this.initiativeOrder[this.currentTurn].entity_type == "CHAR";
      else return true;
    }
  }
};
</script>

<style>
@import "../assets/css/Combat.css";
</style>
