<template>
  <div class="contact">
    <h1>Contact Us</h1>
    <br>
    <p>Email us at admin@paladinsinhell.com</p>
  </div>
</template>
<script>
// @vuese
// @group Views
// Contact page
export default {
  name: "Contact"
};
</script>