<template>
  <div class="help">
    <h1>Help Menu</h1>
    <br>
    <p>Welcome to the help menu, we will update this section with shit you will need in helping you use this app.</p>
    <p>Description: This app saves logs for each turn of each player and monster. The log can be seen during the battle and when the battle is over.</p>
  </div>
</template>
<script>
// @vuese
// @group Views
// Help page
export default {
  name: "Help"
};
</script>