<template>
  <div class="home" style="width:100%; overflow: hidden;">
    <img alt="Vue logo" src="../assets/logo.svg">
    <Campaigns msg="Welcome to Your Vue.js App"/>
  </div>
</template>
<script>
// @ is an alias to /src
import Campaigns from "../components/Campaigns.vue";
// @vuese
// @group Views
// This view displays welcome page and loads Campaigns component
export default {
  name: "Home",
  components: {
    Campaigns
  }
};
</script>
