<template>
  <v-card elevation="15">
    <v-form ref="form" v-model="valid" lazy-validation>
      <v-container align-content-space-around>
        <v-layout align-center justify-center row wrap>
          <v-flex xs10>
            <h3 v-if="loginRegisterToggle" class="headline">Login</h3>
            <h3 v-else class="headline">Register</h3>
          </v-flex>
          <v-flex xs10>
            <v-text-field
              align-content-center
              v-model="email"
              :error-messages="emailErrors"
              :counter="50"
              label="Email"
              required
              @input="$v.email.$touch()"
              @blur="$v.email.$touch()"
            ></v-text-field>
          </v-flex>

          <v-flex xs10>
            <v-text-field
              v-model="password"
              :error-messages="passwordErrors"
              :counter="18"
              :type="'password'"
              label="Password"
              required
              @input="$v.password.$touch()"
              @blur="$v.password.$touch()"
            ></v-text-field>
          </v-flex>
          <v-flex xs10>
            <v-btn flat v-if="loginRegisterToggle" style="height:4em;">
              <a
                href="/passwordreset"
                style="color: lightgray; text-decoration: none;"
              >Forgot your password?</a>
            </v-btn>
            <v-text-field
              v-model="passwordConfirm"
              v-if="!loginRegisterToggle"
              :type="'password'"
              :error-messages="passwordConfirmErrors"
              :counter="18"
              label="Confirm Password"
              required
              @input="$v.passwordConfirm.$touch()"
              @blur="$v.passwordConfirm.$touch()"
            ></v-text-field>
          </v-flex>
        </v-layout>

        <v-card-actions>
          <v-btn flat @click="loginToggle">Go to {{loginRegisterText[1]}}</v-btn>
          <v-spacer></v-spacer>
          <v-btn
            flat
            v-if="loginRegisterToggle"
            :disabled="!valid || password.length == 0"
            @click="submit"
          >Login</v-btn>
          <v-btn
            flat
            v-else
            :disabled="!valid || passwordConfirm.length == 0"
            @click="submit"
          >Register</v-btn>
        </v-card-actions>
      </v-container>
    </v-form>
  </v-card>
</template>

<script>
// @ is an alias to /src
import { validationMixin } from "vuelidate";
import {
  required,
  maxLength,
  minLength,
  helpers,
  email
} from "vuelidate/lib/validators";
import axios from "axios";
// Custom Regex Validation so that the text fields will accept spaces.
const alphaSpaces = helpers.regex("alphaSpaces", /^[a-zA-Z ]*$/);
// @vuese
// @group Views
// This view displays the login and registration page
export default {
  name: "Login-Registration",
  data: () => ({
    valid: false,
    loginRegisterToggle: true,
    loginRegisterText: ["Login", "Register"],
    email: "",
    password: "",
    passwordConfirm: ""
  }),
  mixins: [validationMixin],
  validations() {
    return {
      email: {
        required,
        email
      },
      password: {
        required,
        alphaSpaces,
        maxLength: maxLength(18),
        minLength: minLength(6),
        complexPassword: password => {
          return (
            /[a-z]/.test(password) &&
            /[A-Z]/.test(password) &&
            /[0-9]/.test(password)
          );
        }
      },
      passwordConfirm: {
        required,
        alphaSpaces,
        minLength: minLength(6),
        maxLength: maxLength(18)
      }
    };
  },
  computed: {
    // @vuese
    // Returns an array of input validation errors related to the email.
    emailErrors() {
      const errors = [];
      if (!this.$v.email.$dirty) return errors;
      !this.$v.email.required && errors.push("Email is required");
      !this.$v.email.email && errors.push("Email not valid");
      return errors;
    },
    // @vuese
    // Returns an array of input validation errors related to the password.
    passwordErrors() {
      const errors = [];
      if (!this.$v.password.$dirty) return errors;
      !this.$v.password.required && errors.push("Password is required");
      (!this.$v.password.maxLength || !this.$v.password.minLength) &&
        errors.push("Password length must be between 6 and 18.");
      !this.$v.password.complexPassword &&
        errors.push(
          "The password has to have at least one number and lower case letter and uppercase letter."
        );
      return errors;
    },
    // @vuese
    // Returns an array of input validation errors related to the confirm password.
    passwordConfirmErrors() {
      const errors = [];
      if (!this.$v.passwordConfirm.$dirty) return errors;
      this.password != this.passwordConfirm &&
        errors.push("Passwords don't match");
      return errors;
    }
  },
  methods: {
    // @vuese
    // Used to toggle login and register form
    loginToggle() {
      this.loginRegisterToggle = !this.loginRegisterToggle;
      var b = this.loginRegisterText[1];
      this.loginRegisterText[1] = this.loginRegisterText[0];
      this.loginRegisterText[0] = b;
    },
    // @vuese
    // Used to send login and register data to the server.
    submit() {
      this.$refs.form.resetValidation();
      this.$v.$touch();
      console.log(
        "!this.$refs.form.validate() - " + !this.$refs.form.validate()
      );
      console.log(
        "(!this.loginRegisterToggle && this.password != this.passwordConfirm) - " +
          (!this.loginRegisterToggle && this.password != this.passwordConfirm)
      );

      if (
        !this.$refs.form.validate() ||
        (!this.loginRegisterToggle && this.password != this.passwordConfirm)
      ) {
        return;
      }
      if (
        !this.loginRegisterToggle &&
        !confirm("Send your registration information?")
      ) {
        return;
      }
      axios({
        method: "post",
        url: this.loginRegisterToggle ? "/api/login/" : "/api/users/",
        data: {
          email: this.$v.email.$model,
          role_id: 1,
          password: this.$v.password.$model
        },
        config: {
          headers: {
            "Content-Type": "multipart/form-data"
          }
        }
      })
        .then(response => {
          alert("Success");
          this.$router.push("/");
        })
        .catch(response => {
          alert("Server error: " + response);
        });
    }
  }
};
</script>
