<template>
  <div>
    <v-text-field
      class="search_monster"
      outline
      label="Search your monsters"
      append-icon="search"
      browser-autocomplete="on"
      @input="searchMonster"
    ></v-text-field>
    <v-list>
      <template v-for="(monster, index) in monsters">
        <v-list-tile v-ripple style="cursor: pointer" :key="index" @click="goToEntity(monster.id)">
          <v-list-tile-content>
            <v-list-tile-title>
              <div class="opposite-sides-string-wrapper">
                <div>{{ monster.name }}</div>
                <div
                  class="opposite-sides-right"
                >{{ monster.cr + ', ' + monster.xp.padStart(5, '&nbsp;') + ' XP' }}</div>
              </div>
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-divider v-if="index + 1 < monsters.length" :key="`divider-${index}`"></v-divider>
      </template>
    </v-list>
    <FabCreateMC create_mc_type="monster"></FabCreateMC>
  </div>
</template>

<script>
import FabCreateMC from ".././components/FabCreateMC";
import axios from "axios";
// @vuese
// @group Views
// This veiw displays the list of all monsters
export default {
  components: {
    FabCreateMC
  },
  data() {
    return {
      monsters: []
    };
  },
  created() {
    axios({
      method: "get",
      url: "/api/monsters/"
    })
      .then(response => {
        let temp = response.data["Data"];
        console.log(temp);
        for (let i = 0; i < temp.length; i++) {
          this.monsters.push({
            name: temp[i]["entity"]["name"],
            xp: "" + 4,
            cr: "" + temp[i]["challenge_rating"],
            id: temp[i]["entity_id"]
          });
          console.log(temp[i]["entity_id"]);
        }
      })
      .catch(function(response) {
        alert("Server error: " + response);
      });
  },
  methods: {
    // @vuese
    // Used to filter monsters by their names.
    // @arg The argument is a string that will be matched to the character sequence in each monster's name.
    searchMonster(a) {
      if (this.monsters1 === undefined) {
        this.monsters1 = this.monsters;
        this.monsters = this.monsters.filter((currentValue, index, array) => {
          if (currentValue.name.toLowerCase().includes(a.toLowerCase())) {
            return true;
          }
        });
      } else {
        this.monsters = this.monsters1.filter((currentValue, index, array) => {
          if (currentValue.name.toLowerCase().includes(a.toLowerCase())) {
            return true;
          }
        });
      }
    },
    // @vuese
    // Used to route the user to the entity by the id.
    // @arg The first argument is a string value of the entity id.
    goToEntity(campaignId) {
      this.$router.push("/monsters/display/id=" + campaignId);
    }
  }
};
</script>

<style>
@import "../assets/css/monsters.css";
</style>
