<!--
Developer: Harry Staley
-->

<template>
  <v-container>
    <v-form ref="form" v-model="valid" lazy-validation>
      <v-layout row wrap>
        <v-flex class="display-2">Monster</v-flex>

        <v-flex xs12>
          <v-text-field
            v-model="name"
            :error-messages="nameErrors"
            :counter="25"
            label="Name"
            :disabled="!editable"
            required
            @input="$v.name.$touch()"
            @blur="$v.name.$touch()"
          ></v-text-field>
        </v-flex>

        <v-flex xs12>
          <v-select
            :error-messages="typeErrors"
            v-model="type"
            :items="type_list"
            label="Type"
            :disabled="!editable"
            required
            @input="$v.type.$touch()"
            @blur="$v.type.$touch()"
          ></v-select>
        </v-flex>

        <v-flex xs12>
          <v-select
            v-model="sub_type"
            :items="sub_type_list"
            label="Sub Type"
            :disabled="!editable"
            @input="$v.sub_type.$touch()"
            @blur="$v.sub_type.$touch()"
          ></v-select>
        </v-flex>

        <v-flex xs12>
          <v-select
            v-model="swarm_type"
            :items="swarm_type_list"
            label="Swarm Type"
            :disabled="!editable"
            @input="$v.swarm_type.$touch()"
            @blur="$v.swarm_type.$touch()"
          ></v-select>
        </v-flex>

        <v-flex xs12>
          <v-radio-group
            v-model="size"
            :error-messages="sizeErrors"
            label="Size"
            :disabled="!editable"
            required
          >
            <v-radio
              v-for="size in size_list"
              :key="size"
              :label="`${size}`"
              :value="`${size}`"
              @input="$v.size.$touch()"
              @blur="$v.size.$touch()"
            ></v-radio>
          </v-radio-group>
        </v-flex>

        <v-flex xs12>
          <v-select
            v-model="mo_alignment"
            :items="mo_alignment_list"
            :error-messages="alignmentErrors"
            label="Alignment"
            :disabled="!editable"
            required
            @change="$v.mo_alignment.$touch()"
            @blur="$v.mo_alignment.$touch()"
          ></v-select>
        </v-flex>

        <v-flex xs12>
          <v-select
            v-model="challenge_rating"
            :items="challenge_rating_list"
            :error-messages="challengeErrors"
            label="Challenge Rating"
            :disabled="!editable"
            required
            @change="$v.challenge_rating.$touch()"
            @blur="$v.challenge_rating.$touch()"
          ></v-select>
        </v-flex>

        <v-flex xs12>
          <v-flex class="display-1">Attributes</v-flex>
        </v-flex>

        <v-subheader class="pl-0">Strength</v-subheader>
        <v-flex xs12>
          <v-slider
            thumb-label="always"
            v-model="strength_base"
            :error-messages="attStrengthErrors"
            :max="18"
            :min="3"
            :step="1"
            :disabled="!editable"
            @input="$v.strength_base.$touch()"
            @blur="$v.strength_base.$touch()"
          ></v-slider>
        </v-flex>

        <v-subheader class="pl-0">Dexterity</v-subheader>
        <v-flex xs12>
          <v-slider
            thumb-label="always"
            v-model="dexterity_base"
            :error-messages="attDexterityErrors"
            :max="18"
            :min="3"
            :step="1"
            :disabled="!editable"
            @input="$v.dexterity_base.$touch()"
            @blur="$v.dexterity_base.$touch()"
          ></v-slider>
        </v-flex>

        <v-subheader class="pl-0">Constitution</v-subheader>
        <v-flex xs12>
          <v-slider
            thumb-label="always"
            v-model="constitution_base"
            :error-messages="attConstitutionErrors"
            :max="18"
            :min="3"
            :step="1"
            :disabled="!editable"
            @input="$v.constitution_base.$touch()"
            @blur="$v.constitution_base.$touch()"
          ></v-slider>
        </v-flex>

        <v-subheader class="pl-0">Intelligence</v-subheader>
        <v-flex xs12>
          <v-slider
            thumb-label="always"
            v-model="intelligence_base"
            :error-messages="attIntelligenceErrors"
            :max="18"
            :min="3"
            :step="1"
            :disabled="!editable"
            @input="$v.intelligence_base.$touch()"
            @blur="$v.intelligence_base.$touch()"
          ></v-slider>
        </v-flex>

        <v-subheader class="pl-0">Wisdom</v-subheader>
        <v-flex xs12>
          <v-slider
            thumb-label="always"
            v-model="wisdom_base"
            :error-messages="attWisdomErrors"
            :max="18"
            :min="3"
            :step="1"
            :disabled="!editable"
            @input="$v.wisdom_base.$touch()"
            @blur="$v.wisdom_base.$touch()"
          ></v-slider>
        </v-flex>

        <v-subheader class="pl-0">Charisma</v-subheader>
        <v-flex xs12>
          <v-slider
            thumb-label="always"
            v-model="charisma_base"
            :error-messages="attCharismaErrors"
            :max="18"
            :min="3"
            :step="1"
            :disabled="!editable"
            @input="$v.charisma_base.$touch()"
            @blur="$v.charisma_base.$touch()"
          ></v-slider>
        </v-flex>

        <v-flex xs12>
          <v-flex class="display-1">Description</v-flex>
        </v-flex>

        <v-flex xs12>
          <v-text-field
            v-model="faith"
            :error-messages="faithErrors"
            :counter="25"
            label="Faith"
            :disabled="!editable"
            @input="$v.faith.$touch()"
            @blur="$v.faith.$touch()"
          ></v-text-field>
        </v-flex>

        <v-flex xs12>
          <v-text-field
            v-model="armor_class"
            :error-messages="armorClsErrors"
            label="Armor Class"
            :disabled="!editable"
            required
            @input="$v.armor_class.$touch()"
            @blur="$v.armor_class.$touch()"
          ></v-text-field>
        </v-flex>

        <v-flex xs12>
          <v-text-field
            v-model="armor_class_type"
            :error-messages="armorClsTypeErrors"
            :counter="25"
            label="Armor Class Type"
            :disabled="!editable"
            required
            @input="$v.armor_class_type.$touch()"
            @blur="$v.armor_class_type.$touch()"
          ></v-text-field>
        </v-flex>

        <v-btn v-if="editable" :disabled="!editable ||!valid" @click="submit">submit</v-btn>
        <v-btn v-if="this.$route.name == 'displayMonster'" @click="edit">edit</v-btn>
      </v-layout>
    </v-form>
  </v-container>
</template>

<script>
import { validationMixin } from "vuelidate";
import {
  integer,
  required,
  requiredIf,
  maxLength,
  minValue,
  between,
  helpers
} from "vuelidate/lib/validators";
import axios from "axios";
// Custom Regex Validation so that the text fields will accept spaces.
const alphaSpaces = helpers.regex("alphaSpaces", /^[a-zA-Z ]*$/);
// @vuese
// @group Views
// This veiw displays monster creation page
export default {
  watch: {
    $route(to, from) {
      // react to route changes...
      location.reload(true); // vanilla javascript method
    },
    id(newId, oldId) {
      console.log("NEW MONSTERS TURN!!!!!!!!!!!");
      this.requestEntity("/api/monsters/" + newId + "/");
    }
  },
  mixins: [validationMixin],
  validations: {
    armor_class: {
      required,
      integer,
      minValue: minValue(0)
    },
    armor_class_type: {
      required,
      alphaSpaces,
      maxLength: maxLength(25)
    },
    strength_base: {
      required,
      between: between(3, 18)
    },
    dexterity_base: {
      required,
      between: between(3, 18)
    },
    constitution_base: {
      required,
      between: between(3, 18)
    },
    intelligence_base: {
      required,
      between: between(3, 18)
    },
    wisdom_base: {
      required,
      between: between(3, 18)
    },
    charisma_base: {
      required,
      between: between(3, 18)
    },
    challenge_rating: {
      required
    },
    faith: {
      alphaSpaces,
      maxLength: maxLength(25)
    },
    mo_alignment: {
      required
    },
    name: {
      required,
      alphaSpaces,
      maxLength: maxLength(25)
    },
    size: {
      required
    },
    type: {
      required
    }
  },
  props: {
    // Current entity id
    id: {
      type: String,
      required: false
    }
  },
  data: () => ({
    valid: false,
    editable: false, // this is used by the mounted method to deterine if fields can be edited.
    armor_class: null,
    armor_class_type: null,
    strength_base: 3,
    dexterity_base: 3,
    intelligence_base: 3,
    constitution_base: 3,
    wisdom_base: 3,
    charisma_base: 3,
    challenge_rating: null,
    challenge_rating_list: [
      "0",
      "1/8",
      "1/4",
      "1/2",
      "1",
      "2",
      "3",
      "4",
      "5",
      "6",
      "7",
      "8",
      "9",
      "10",
      "11",
      "12",
      "13",
      "14",
      "15",
      "16",
      "17",
      "18",
      "19",
      "20",
      "21",
      "22",
      "23",
      "24",
      "25",
      "26",
      "27",
      "28",
      "29",
      "30"
    ],
    faith: null,
    name: null,
    mo_alignment: null,
    mo_alignment_list: [
      "Any Alignment",
      "Any Lawful",
      "Any Neutral",
      "Any Chaotic",
      "Any Evil",
      "Any Good",
      "Non Good",
      "Non Lawful",
      "Lawful Good",
      "Neutral Good",
      "Chaotic Good",
      "Lawful Neutral",
      "True Neutral",
      "Chaotic Neutral",
      "Lawful Evil",
      "Neutral Evil",
      "Chaotic Evil",
      "Neutral",
      "Neutral Good",
      "Neutral Evel",
      "Non Aligned"
    ],
    sub_type: null,
    sub_type_list: [
      "Angel",
      "Any race",
      "Bullywug",
      "Cloud giant",
      "Demon",
      "Derro",
      "Devil",
      "Dwarf",
      "Elf",
      "Fire giant",
      "Firenewt",
      "Frost giant",
      "Gith",
      "Gnoll",
      "Gnome",
      "Goblinoid",
      "Grimlock",
      "Grung",
      "Half-dragon",
      "Half-elf",
      "Hill giant",
      "Human",
      "Inevitable",
      "Kenku",
      "Kobold",
      "Kraul",
      "Kuo-toa",
      "Lizardfolk",
      "Meazel",
      "Merfolk",
      "Nagpa",
      "Orc",
      "Quaggoth",
      "Sahuagin",
      "Saurial",
      "Shapechanger",
      "Simic hybrid",
      "Stone giant",
      "Storm giant",
      "Ttabaxi",
      "Thri-keen",
      "Titan",
      "Tortle",
      "Troglodyte",
      "Xvart",
      "Yuan-ti",
      "Yugoloth"
    ],
    swarm_type: null,
    swarm_type_list: [
      "Aboleth",
      "Acolyte",
      "Adult Black Dragon",
      "Adult Blue Dragon",
      "Adult Brass Dragon",
      "Adult Bronze Dragon",
      "Adult Copper Dragon",
      "Adult Gold Dragon",
      "Adult Green Dragon",
      "Adult Red Dragon",
      "Adult Silver Dragon",
      "Adult White Dragon",
      "Air Elemental",
      "Allosaurus",
      "Ancient Black Dragon",
      "Ancient Blue Dragon",
      "Ancient Brass Dragon",
      "Ancient Bronze Dragon",
      "Ancient Copper Dragon",
      "Ancient Gold Dragon",
      "Ancient Green Dragon",
      "Ancient Red Dragon",
      "Ancient Silver Dragon",
      "Ancient White Dragon",
      "Androsphinx",
      "Animated Armor",
      "Ankheg",
      "Ankylosaurus",
      "Ape",
      "Archmage",
      "Assassin",
      "Awakened Shrub",
      "Awakened Tree",
      "Axe Beak",
      "Azer",
      "Baboon",
      "Badger",
      "Balor",
      "Bandit",
      "Bandit Captain",
      "Banshee",
      "Barbed Devil",
      "Basilisk",
      "Bat",
      "Bearded Devil",
      "Behir",
      "Berserker",
      "Black Bear",
      "Black Dragon Wyrmling",
      "Black Pudding",
      "Blink Dog",
      "Blood Hawk",
      "Blue Dragon Wyrmling",
      "Boar",
      "Bone Devil",
      "Brass Dragon Wyrmling",
      "Bronze Dragon Wyrmling",
      "Brown Bear",
      "Bugbear",
      "Bulette",
      "Camel",
      "Cat",
      "Centaur",
      "Chain Devil",
      "Chimera",
      "Chuul",
      "Clay Golem",
      "Cloaker",
      "Cloud Giant",
      "Cockatrice",
      "Commoner",
      "Constrictor Snake",
      "Copper Dragon Wyrmling",
      "COPY_OF_Chuul",
      "Couatl",
      "Crab",
      "Crocodile",
      "Cult Fanatic",
      "Cultist",
      "Cyclops",
      "Darkmantle",
      "Death Dog",
      "Deep Gnome (Svirfneblin)",
      "Deer",
      "Deva",
      "Dire Wolf",
      "Djinni",
      "Doppelganger",
      "Draft Horse",
      "Dragon Turtle",
      "Dretch",
      "Drider",
      "Drow",
      "Druid",
      "Dryad",
      "Duergar",
      "Dust Mephit",
      "Eagle",
      "Earth Elemental",
      "Efreeti",
      "Elephant",
      "Elk",
      "Erinyes",
      "Ettercap",
      "Ettin",
      "Fire Elemental",
      "Fire Giant",
      "Flameskull",
      "Flesh Golem",
      "Flying Snake",
      "Flying Sword",
      "Frog",
      "Frost Giant",
      "Gargoyle",
      "Gelatinous Cube",
      "Ghast",
      "Ghost",
      "Ghoul",
      "Giant Ape",
      "Giant Badger",
      "Giant Bat",
      "Giant Boar",
      "Giant Centipede",
      "Giant Constrictor Snake",
      "Giant Crab",
      "Giant Crocodile",
      "Giant Eagle",
      "Giant Elk",
      "Giant Fire Beetle",
      "Giant Frog",
      "Giant Goat",
      "Giant Hyena",
      "Giant Lizard",
      "Giant Octopus",
      "Giant Owl",
      "Giant Poisonous Snake",
      "Giant Rat",
      "Giant Scorpion",
      "Giant Sea Horse",
      "Giant Shark",
      "Giant Spider",
      "Giant Toad",
      "Giant Vulture",
      "Giant Wasp",
      "Giant Weasel",
      "Giant Wolf Spider",
      "Gibbering Mouther",
      "Glabrezu",
      "Gladiator",
      "Gnoll",
      "Goat",
      "Goblin",
      "Gold Dragon Wyrmling",
      "Gorgon",
      "Gray Ooze",
      "Green Dragon Wyrmling",
      "Green Hag",
      "Grick",
      "Griffon",
      "Grimlock",
      "Guard",
      "Guardian Naga",
      "Gynosphinx",
      "Half-Red Dragon Veteran",
      "Harpy",
      "Hawk",
      "Hell Hound",
      "Hezrou",
      "Hill Giant",
      "Hippogriff",
      "Hobgoblin",
      "Homunculus",
      "Horned Devil",
      "Hunter Shark",
      "Hydra",
      "Hyena",
      "Ice Devil",
      "Ice Mephit",
      "Imp",
      "Invisible Stalker",
      "Iron Golem",
      "Jackal",
      "Killer Whale",
      "Knight",
      "Kobold",
      "Kraken",
      "Lamia",
      "Lemure",
      "Lich",
      "Lion",
      "Lizard",
      "Lizardfolk",
      "Mage",
      "Magma Mephit",
      "Magmin",
      "Mammoth",
      "Manticore",
      "Marilith",
      "Mastiff",
      "Medusa",
      "Merfolk",
      "Merrow",
      "Mimic",
      "Minotaur",
      "Minotaur Skeleton",
      "Mule",
      "Mummy",
      "Mummy Lord",
      "Nalfeshnee",
      "Night Hag",
      "Nightmare",
      "Noble",
      "Nothic",
      "Ochre Jelly",
      "Octopus",
      "Ogre",
      "Ogre Zombie",
      "Oni",
      "Orc",
      "Otyugh",
      "Owl",
      "Owlbear",
      "Panther",
      "Pegasus",
      "Phase Spider",
      "Pit Fiend",
      "Planetar",
      "Plesiosaurus",
      "Poisonous Snake",
      "Polar Bear",
      "Pony",
      "Priest",
      "Pseudodragon",
      "Pteranodon",
      "Purple Worm",
      "Quasit",
      "Quipper",
      "Rakshasa",
      "Rat",
      "Raven",
      "Red Dragon Wyrmling",
      "Reef Shark",
      "Remorhaz",
      "Rhinoceros",
      "Riding Horse",
      "Roc",
      "Roper",
      "Rug of Smothering",
      "Rust Monster",
      "Saber-Toothed Tiger",
      "Sahuagin",
      "Salamander",
      "Satyr",
      "Scorpion",
      "Scout",
      "Sea Hag",
      "Sea Horse",
      "Shadow",
      "Shambling Mound",
      "Shield Guardian",
      "Shrieker",
      "Silver Dragon Wyrmling",
      "Skeleton",
      "Solar",
      "Spectator",
      "Specter",
      "Spider",
      "Spirit Naga",
      "Sprite",
      "Spy",
      "Steam Mephit",
      "Stirge",
      "Stone Giant",
      "Stone Golem",
      "Storm Giant",
      "Succubus/Incubus",
      "Swarm of Bats",
      "Swarm of Insects",
      "Swarm of Poisonous Snakes",
      "Swarm of Quippers",
      "Swarm of Rats",
      "Swarm of Ravens",
      "Tarrasque",
      "Thug",
      "Tiger",
      "Treant",
      "Tribal Warrior",
      "Triceratops",
      "Troll",
      "Twig Blight",
      "Tyrannosaurus Rex",
      "Unicorn",
      "Vampire",
      "Vampire Spawn",
      "Veteran",
      "Violet Fungus",
      "Vrock",
      "Vulture",
      "Warhorse",
      "Warhorse Skeleton",
      "Water Elemental",
      "Weasel",
      "Werebear",
      "Wereboar",
      "Wererat",
      "Weretiger",
      "Werewolf",
      "White Dragon Wyrmling",
      "Wight",
      "Will-o-Wisp",
      "Winter Wolf",
      "Wolf",
      "Worg",
      "Wraith",
      "Wyvern",
      "Xorn",
      "Yeti",
      "Young Black Dragon",
      "Young Blue Dragon",
      "Young Brass Dragon",
      "Young Bronze Dragon",
      "Young Copper Dragon",
      "Young Gold Dragon",
      "Young Green Dragon",
      "Young Red Dragon",
      "Young Silver Dragon",
      "Young White Dragon",
      "Zombie"
    ],
    size: null,
    size_list: ["Gargantuan", "Huge", "Large", "Medium", "Small", "Tiny"],
    type: null,
    type_list: [
      "Aberration",
      "Beast",
      "Celestial",
      "Construct",
      "Dragon",
      "Elemental",
      "Fey",
      "Fiend",
      "Giant",
      "Humanoid",
      "Monstrosity",
      "Ooze",
      "Plant",
      "Undead",
      "Unknown"
    ]
  }),
  computed: {
    // @vuese
    // Returns an array of input validation errors related to the armor class.
    armorClsErrors() {
      const errors = [];
      if (!this.$v.armor_class.$dirty) return errors;
      !this.$v.armor_class.required && errors.push("Armor Class is required");
      !this.$v.armor_class.integer &&
        errors.push("Armor Class must be a positive integer.");
      !this.$v.armor_class.minValue &&
        errors.push("Armor Class must not be less than zero.");
      return errors;
    },
    // @vuese
    // Returns an array of input validation errors related to the armor class type.
    armorClsTypeErrors() {
      const errors = [];
      if (!this.$v.armor_class_type.$dirty) return errors;
      !this.$v.armor_class_type.alphaSpaces &&
        errors.push(
          "Armor Class must contain only capital, lowercase letters, and spaces. Numeric or Special Characters are not allowed."
        );
      !this.$v.armor_class_type.maxLength &&
        errors.push("Armor Class must not be longer than 25 characters.");
      !this.$v.armor_class_type.required &&
        errors.push("Armor Class is required.");
      return errors;
    },
    // @vuese
    // Returns an array of input validation errors related to the alignment.
    alignmentErrors() {
      const errors = [];
      if (!this.$v.mo_alignment.$dirty) return errors;
      !this.$v.mo_alignment.required && errors.push("Alignment is required");
      return errors;
    },
    // @vuese
    // Returns an array of input validation errors related to dexterity.
    attDexterityErrors() {
      const errors = [];
      if (!this.$v.dexterity_base.$dirty) return errors;
      !this.$v.dexterity_base.between &&
        errors.push("Dexterity must be between 3 and 18.");
      !this.$v.dexterity_base.required && errors.push("Dexterity required");
      return errors;
    },
    // @vuese
    // Returns an array of input validation errors related to intelligence.
    attIntelligenceErrors() {
      const errors = [];
      if (!this.$v.intelligence_base.$dirty) return errors;
      !this.$v.intelligence_base.between &&
        errors.push("Intelligence must be between 3 and 18.");
      !this.$v.intelligence_base.required &&
        errors.push("Intelligence required");
      return errors;
    },
    // @vuese
    // Returns an array of input validation errors related to strength.
    attStrengthErrors() {
      const errors = [];
      if (!this.$v.strength_base.$dirty) return errors;
      !this.$v.strength_base.between &&
        errors.push("Strength must be between 3 and 18.");
      !this.$v.strength_base.required && errors.push("Strength required");
      return errors;
    },
    // @vuese
    // Returns an array of input validation errors related to constitution.
    attConstitutionErrors() {
      const errors = [];
      if (!this.$v.constitution_base.$dirty) return errors;
      !this.$v.constitution_base.between &&
        errors.push("Constitution must be between 3 and 18.");
      !this.$v.constitution_base.required &&
        errors.push("Constitution required");
      return errors;
    },
    // @vuese
    // Returns an array of input validation errors related to wisdom.
    attWisdomErrors() {
      const errors = [];
      if (!this.$v.wisdom_base.$dirty) return errors;
      !this.$v.wisdom_base.between &&
        errors.push("Wisdom must be between 3 and 18.");
      !this.$v.wisdom_base.required && errors.push("Wisdom required");
      return errors;
    },
    // @vuese
    // Returns an array of input validation errors related to charisma.
    attCharismaErrors() {
      const errors = [];
      if (!this.$v.charisma_base.$dirty) return errors;
      !this.$v.charisma_base.between &&
        errors.push("Strength must be between 3 and 18.");
      !this.$v.charisma_base.required && errors.push("Charisma required");
      return errors;
    },
    // @vuese
    // Returns an array of input validation errors related to challenge rating.
    challengeErrors() {
      const errors = [];
      if (!this.$v.challenge_rating.$dirty) return errors;
      !this.$v.challenge_rating.required &&
        errors.push("Challenge Rating is required");
      return errors;
    },
    // @vuese
    // Returns an array of input validation errors related to class.
    classErrors() {
      const errors = [];
      if (!this.$v.sub_type.$dirty) return errors;
      !this.$v.sub_type.required && errors.push("Class is required");
      return errors;
    },
    // @vuese
    // Returns an array of input validation errors related to faith.
    faithErrors() {
      const errors = [];
      if (!this.$v.faith.$dirty) return errors;
      !this.$v.faith.alphaSpaces &&
        errors.push(
          "Faith must contain only capital, lowercase letters, and spaces. Numeric or Special Characters are not allowed."
        );
      !this.$v.faith.maxLength &&
        errors.push("Faith must not be longer than 25 characters.");
      return errors;
    },
    // @vuese
    // Returns an array of input validation errors related to the name of a monster.
    nameErrors() {
      const errors = [];
      if (!this.$v.name.$dirty) return errors;
      !this.$v.name.alphaSpaces &&
        errors.push(
          "Name must contain only capital, lowercase letters, and spaces. Numeric or Special Characters are not allowed."
        );
      !this.$v.name.maxLength &&
        errors.push("Name must not be longer than 25 characters.");
      !this.$v.name.required && errors.push("Name is required.");
      return errors;
    },
    // @vuese
    // Returns an array of input validation errors related to size.
    sizeErrors() {
      const errors = [];
      if (!this.$v.size.$dirty) return errors;
      !this.$v.size.required && errors.push("Size is required");
      return errors;
    },
    // @vuese
    // Returns an array of input validation errors related to type.
    typeErrors() {
      const errors = [];
      if (!this.$v.type.$dirty) return errors;
      !this.$v.type.required && errors.push("Type is required");
      return errors;
    }
  },
  // Used to populate the character sheet with hardcoded dummy data and toggle this.editable property based on the route after the component was mounted.
  mounted() {
    // The code inside here runs on render
    this.$nextTick(() => {
      // This code will run only after the
      // entire view has been rendered
      console.log("this.$route.name - " + this.$route.name);
      switch (this.$route.name) {
        case "createMonster":
          this.editable = true;
          break;
        case "editMonster":
          console.log("Editing!!!");
          this.editable = true;
          this.requestEntity("/api/monsters/" + this.$route.params.id + "/");
          break;
        case "displayMonster":
          this.editable = false;
          this.requestEntity("/api/monsters/" + this.$route.params.id + "/");
          break;
        default:
          console.log("Default!!!");
          this.editable = false;
          this.requestEntity("/api/monsters/" + this.id + "/");
      }
    });
  },
  methods: {
    // @vuese
    // Used to request data about the entity from the server.
    // @arg The argument is an API url.
    requestEntity(url) {
      console.log("axios url " + url);
      axios({
        method: "get",
        url: url
      })
        .then(response => {
          let temp = response.data["Data"];
          this.armor_class = temp.armor_class;
          this.armor_class = temp.armor_class;
          this.armor_class_type = temp.armor_class_type;
          this.challenge_rating = "" + temp.challenge_rating;
          this.sub_type = temp.sub_type;
          this.swarm_type = temp.swarm_type;
          this.size = temp.size;
          this.type = temp.type;
          this.name = temp.entity.name;
          this.strength_base = temp.entity.strength_base;
          this.dexterity_base = temp.entity.dexterity_base;
          this.intelligence_base = temp.entity.intelligence_base;
          this.constitution_base = temp.entity.constitution_base;
          this.wisdom_base = temp.entity.wisdom_base;
          this.charisma_base = temp.entity.charisma_base;
          this.mo_alignment = temp.alignment;
          this.faith = temp.faith;
          this.alignment_id = temp.alignment_id;
          this.type_id = temp.type_id;
          this.sub_type_id = temp.sub_type_id;
          this.swarm_type_id = temp.swarm_type_id;
          this.size_id = temp.size_id;
          this.monster_id = temp.id;
        })
        .catch(response => {
          alert("Server error: " + response);
        });
    },
    // @vuese
    // Used to send monsters stats to the server.
    submit() {
      this.$refs.form.resetValidation();
      this.$v.$touch();
      if (!this.$refs.form.validate()) {
        return;
      }
      axios({
        method: this.$route.name == "editMonster" ? "put" : "post",
        url:
          this.$route.name == "editMonster"
            ? "/api/monsters/" + this.monster_id + "/"
            : "/api/monsters/",
        data: {
          user_id: 1,
          name: this.name,
          strength_base: this.strength_base,
          dexterity_base: this.dexterity_base,
          constitution_base: this.constitution_base,
          intelligence_base: this.intelligence_base,
          wisdom_base: this.wisdom_base,
          charisma_base: this.charisma_base,
          type_id: this.type_id,
          sub_type_id: this.sub_type_id,
          swarm_type_id: this.swarm_type_id,
          size_id: this.size_id,
          alignment_id: this.alignment_id,
          challenge_rating: this.challenge_rating,
          faith: this.faith,
          armor_class: this.armor_class,
          armor_class_type: this.armor_class_type
        },
        config: {
          headers: {
            "Content-Type": "multipart/form-data"
          }
        }
      })
        .then(response => {
          alert("Success");
        })
        .catch(response => {
          alert("Server error: " + response);
        });
    },
    // @vuese
    // Used to route the user to the edit monster route.
    edit() {
      this.$router.push("/monsters/edit/id=" + this.$route.params.id + "/");
    }
  }
};
</script>
