<!--
Developer: Harry Staley
-->
<template>
  <div class="404-error">
    <h1>Error: 404</h1>
    <br>
    <p>The resource that you are looking for is currenlty unavailalbe.</p>
  </div>
</template>
<script>
// @ is an alias to /src
import Campaigns from "../components/Campaigns.vue";
// @vuese
// @group Views
// This view displays 404 page
export default {
  name: "Not-found-404",
  components: {
    Campaigns
  }
};
</script>