<template>
  <v-app dark>
    <v-toolbar app>
      <router-link class="toolbar_title_link" to="/">
        <v-toolbar-title style="min-width: 10em">
          <span id="toolbar_title" class="headline">Battle Tome</span>
        </v-toolbar-title>
      </router-link>
      <v-spacer></v-spacer>
      <v-toolbar-items v-if="this.$route.path != '/login'">
        <v-menu bottom left>
          <v-btn slot="activator" icon>
            <v-icon>more_vert</v-icon>
          </v-btn>

          <v-list>
            <router-link class="toolbar_title_link" to="/">
              <v-list-tile>
                <v-list-tile-title class="fix_height_dropdown">
                  <img src="./assets/icons8-parchment-40.png" class="img_menu">
                  <div class="display_inline">Campaigns</div>
                </v-list-tile-title>
              </v-list-tile>
            </router-link>
            <v-divider></v-divider>
            <router-link class="toolbar_title_link" to="/combat/campaignIndex=1&battleIndex=1">
              <v-list-tile>
                <v-list-tile-title class="fix_height_dropdown">
                  <img src="./assets/icons8-sword-40.png" class="img_menu">
                  <div class="display_inline">Recent Battle</div>
                </v-list-tile-title>
              </v-list-tile>
            </router-link>
            <v-divider></v-divider>
            <router-link class="toolbar_title_link" to="/characters">
              <v-list-tile>
                <v-list-tile-title class="fix_height_dropdown">
                  <img src="./assets/icons8-roman-helmet-40.png" class="img_menu">
                  <div class="display_inline">
                    <div>Characters</div>
                  </div>
                </v-list-tile-title>
              </v-list-tile>
            </router-link>
            <v-divider></v-divider>
            <router-link class="toolbar_title_link" to="/monsters">
              <v-list-tile>
                <v-list-tile-title class="fix_height_dropdown">
                  <img src="./assets/icons8-tentacles-40.png" class="img_menu">
                  <div class="display_inline">
                    <div>Monsters</div>
                  </div>
                </v-list-tile-title>
              </v-list-tile>
            </router-link>
            <v-divider></v-divider>
            <router-link class="toolbar_title_link" to="/about">
              <v-list-tile>
                <v-list-tile-title class="fix_height_dropdown">
                  <img src="./assets/icons8-about-40.png" class="img_menu">
                  <div class="display_inline">About</div>
                </v-list-tile-title>
              </v-list-tile>
            </router-link>
            <v-divider></v-divider>
            <router-link class="toolbar_title_link" to="/help">
              <v-list-tile>
                <v-list-tile-title class="fix_height_dropdown">
                  <img src="./assets/icons8-help-40.png" class="img_menu">
                  <div class="display_inline">Help</div>
                </v-list-tile-title>
              </v-list-tile>
            </router-link>
            <v-divider></v-divider>
            <router-link class="toolbar_title_link" to="/contact">
              <v-list-tile>
                <v-list-tile-title class="fix_height_dropdown">
                  <img src="./assets/icons8-paper-plane-40.png" class="img_menu">
                  <div class="display_inline">Contact</div>
                </v-list-tile-title>
              </v-list-tile>
            </router-link>
          </v-list>
        </v-menu>
      </v-toolbar-items>
    </v-toolbar>

    <v-content>
      <router-view></router-view>
    </v-content>
  </v-app>
</template>

<script>
import Campaigns from "./components/Campaigns.vue";
// @vuese
// @group App
// This view dilplays main menu, loads Campaigns component and serves as a root for the rest of veiws and components
export default {
  name: "App",
  components: {
    Campaigns
  },
  data: () => ({})
};
</script>

<style>
@import "./assets/css/App.css";
</style>
