.search_monster .v-text-field__details {
  display: none;
}

.dialog_flex .v-input--checkbox {
  margin-top: 0%;
}

.dialog_flex .v-input__slot {
  margin-bottom: 0%;
}

.primary--text {
  color: aqua !important;
}

.flex-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  height: 100%;
}

.flex-item {
  text-align: center;
  height: 100%;
  margin: auto;
}

.flex-item:nth-child(1) {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  min-width: 7em;
}

.flex-item:nth-child(2) {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 7em;
  -ms-flex: 0 1 7em;
  flex: 0 1 7em;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  min-width: 7em;
}

.search_monster .v-input__slot {
  margin-bottom: 0.8em;
}

.log-item-wrapper {
  padding-left: 2em;
  position: relative;
}

.log-item-wrapper div {
  position: absolute;
  height: 100%;
  top: 0px;
  left: 0px;
  display: inline-block;
  width: 2em;
  color: red;
  cursor: pointer;
  float: left;
  text-align: center;
  vertical-align: middle;
  font-size: 1.2em;
  font-weight: 650;
  -webkit-user-select: none;
  /* Safari 3.1+ */
  -moz-user-select: none;
  /* Firefox 2+ */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Standard syntax */
}

.log-item-wrapper div div {
  position: absolute;
  top: 50%;
  margin-top: -0.75em;
  width: fit-content;
  height: fit-content;
}

.log-item-wrapper span {
  word-wrap: break-word;
  overflow: auto;
}

.fitcontent .v-list__tile {
  height: fit-content;
  min-height: 48px;
}

.v-dialog__content--active {
  background-color: rgba(0, 0, 0, 0.5);
}