#app {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
  }
  
  .toolbar_title_link {
    text-decoration: none !important;
  }
  
  #toolbar_title {
    font-family: "Kaushan Script", Helvetica, Arial, sans-serif !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    color: lightgray !important;
    font-size: 175% !important;
  }
  
  .toolbar_title_link {
    color: lightgray !important;
  }
  
  .router-link-exact-active {
    color: #5cc8ff !important;
    text-shadow: 0 1px 1px #000000;
  }
  
  .v-content {
    width: 100%;
    max-width: 75em !important;
    margin: auto;
    padding-top: 5.55em !important;
    padding-bottom: 5.55em !important;
  }
  
  .v-list__tile__title.fix_height_dropdown {
    height: 2.5em;
  }
  
  .img_menu {
    vertical-align: middle;
    margin-right: 0.5em;
  }
  
  .display_inline {
    display: inline-block;
  }
  .toolbar_title_link .v-list__tile:hover {
    background-color: rgb(119, 119, 119);
  }