.opposite-sides-string-wrapper div {
    width: 49%;
    display: inline-block;
  }
  .opposite-sides-string-wrapper .opposite-sides-right {
    text-align: right;
  }
  .battles_FAB_wrapper {
  position: relative;
  }
  .battles_FAB_wrapper .v-btn--floating {
    bottom: 5%;
    right: 5%;
    position: fixed;
  }
  box-shadow: 0px 0px 10px cornflowerblue;
  border-radius: 0.2em;