.opposite-sides-string-wrapper div {
    width: 49%;
  display: inline-block;
}
.opposite-sides-string-wrapper .opposite-sides-right {
  text-align: right;
}
.search_character .v-text-field__details {
    display: none;
}

.search_character .v-input__slot{
    margin-bottom: 0.8em;
}