.v-speed-dia_wrapper {
    position: relative !important;
  }
  
  .v-speed-dial#v-speed-dial_ {
    bottom: 5% !important;
    right: 5% !important;
    position: fixed !important;
    display: inline-block !important;
  }