.opposite-sides-string-wrapper div {
  width: 49%;
  display: inline-block;
}

.opposite-sides-string-wrapper .opposite-sides-right {
  text-align: right;
}

.current_initiativeC {
  box-shadow: 0px 0px 10px cornflowerblue;
  border-radius: 0.2em;
}

.current_initiativeM {
  box-shadow: 0px 0px 10px rgb(237, 100, 118);
  border-radius: 0.2em;
}