<!--
Developer: Artem Skitenko
Modified: Harry Staley
-->

<template>
  <div>
    <v-container grid-list text-xs-center>
      <v-alert :value="showAlert" outline dismissible type="error">
        <h2>Select targets!</h2>
      </v-alert>
      <v-form ref="form" v-model="valid" lazy-validation>
        <fieldset>
          <v-layout row align-center justify-space-around>
            <v-flex xs12>
              <h2
                v-if="this.initiativeOrder.length > this.currentTurn"
              >{{this.initiativeOrder[this.currentTurn].entity_name}}</h2>
            </v-flex>
          </v-layout>
          <v-layout row align-center justify-space-around fill-height wrap>
            <v-flex xs5 sm3>
              <v-select
                :items="actionList"
                v-model="action"
                label="Action"
                required
                @input="$v.action.$touch()"
                @blur="$v.action.$touch()"
                @change="clearSelectedSpell()"
                :error-messages="actionErrors"
              ></v-select>
            </v-flex>

            <v-flex xs5 sm3>
              <v-dialog v-model="dialogTarget" fullscreen transition="dialog-bottom-transition">
                <v-btn slot="activator" color="primary" dark>Target</v-btn>
                <v-layout row>
                  <v-flex xs12 sm6 offset-sm3>
                    <v-card>
                      <v-toolbar flat>
                        <v-btn icon @click="dialogTarget = false">
                          <v-icon>arrow_back</v-icon>
                        </v-btn>
                        <v-text-field
                          class="search_character"
                          hide-details
                          single-line
                          label="Search targets"
                          append-icon="search"
                          browser-autocomplete="on"
                          @input="searchTarget"
                        ></v-text-field>
                      </v-toolbar>
                      <v-subheader v-if="foes.length > 0">
                        <span style="font-size: 150%">Foes:&nbsp;</span>
                        <v-checkbox
                          style="margin-top: 1.2em"
                          :label="`All`"
                          v-model="checkboxTargetAllFoes"
                          @change="checkAll(foes, checkboxTargetAllFoes)"
                        ></v-checkbox>
                      </v-subheader>
                      <v-container v-if="foes.length > 0" fluid>
                        <v-layout row align-center justify-space-around fill-height wrap>
                          <v-flex v-for="foe in foes" :key="foe.index" xs5 md3>
                            <v-checkbox :label="foe.entity_name" v-model="foe.selected"></v-checkbox>
                          </v-flex>
                          <!-- end v-for foes -->
                        </v-layout>
                      </v-container>
                      <v-divider v-if="foes.length > 0 && characters.length > 0"></v-divider>
                      <v-subheader v-if="characters.length > 0">
                        <span style="font-size: 150%">Allies:&nbsp;</span>
                        <v-checkbox
                          style="margin-top: 1.2em"
                          :label="`All`"
                          v-model="checkboxTargetAllAllies"
                          @change="checkAll(characters, checkboxTargetAllAllies)"
                        ></v-checkbox>
                      </v-subheader>
                      <v-container v-if="characters.length > 0" fluid>
                        <v-layout row align-center justify-space-around fill-height wrap>
                          <v-flex v-for="ally in characters" :key="ally.index" xs5 md3>
                            <v-checkbox :label=" ally.entity_name" v-model="ally.selected"></v-checkbox>
                          </v-flex>
                          <!-- end v-for characters -->
                        </v-layout>
                      </v-container>
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn @click="dialogTarget = false">Save</v-btn>
                      </v-card-actions>
                      <v-footer class="mt-2"></v-footer>
                    </v-card>
                  </v-flex>
                </v-layout>
              </v-dialog>
              <!-- end dialog dialogTarget-->
            </v-flex>
            <v-flex xs12 sm3>
              <v-dialog
                id="condition"
                v-model="dialogCondition"
                fullscreen
                transition="dialog-bottom-transition"
                :disabled="!hasSelectedFoes && !hasSelectedCharacters"
              >
                <v-btn
                  slot="activator"
                  color="primary"
                  dark
                  :disabled="!hasSelectedFoes && !hasSelectedCharacters"
                  @click="subActionCreate(true)"
                >Condition</v-btn>
                <v-layout row>
                  <v-flex xs12 sm10 md9 lg7 xl6 style="margin:auto">
                    <v-card xs12 sm10 md9 lg7 xl6>
                      <v-toolbar flat>
                        <v-btn icon @click="dialogCondition = false">
                          <v-icon>arrow_back</v-icon>
                        </v-btn>
                        <h1>Conditions</h1>
                      </v-toolbar>
                      <div v-for="(subAction, index) in submitData" :key="index">
                        <v-layout row align-center justify-space-around fill-height>
                          <v-flex xs10 sm8 md6>
                            <v-select
                              :items="conditions"
                              v-model="subAction.condition"
                              menu-props="auto"
                              label="Condition"
                              single-line
                              required
                              hide-details
                            ></v-select>
                          </v-flex>
                          <v-flex xs2 md1>
                            <div class="log-item-wrapper">
                              <div
                                v-if="index!=0 || submitData.length !=1"
                                @click="deleteSubAction(subAction.id)"
                              >
                                <div>X</div>
                              </div>
                            </div>
                          </v-flex>
                        </v-layout>
                        <v-layout row align-center justify-space-around fill-height>
                          <v-flex xs6 sm6>
                            <v-select
                              :items="dmgTypeList"
                              v-model="subAction.dmgType"
                              menu-props="auto"
                              label="Damage type"
                              single-line
                              required
                            ></v-select>
                          </v-flex>
                          <v-flex xs2 md1>
                            <v-text-field
                              style="display: inline"
                              type="number"
                              hide-details
                              label="DMG"
                              v-model="subAction.dmg"
                              xs1
                            ></v-text-field>
                          </v-flex>
                        </v-layout>
                        <template v-if="hasSelectedFoes">
                          <v-subheader>
                            <span style="font-size: 150%">Foes:&nbsp;</span>
                          </v-subheader>
                          <v-container fluid grid-list-xl>
                            <v-layout
                              class="dialog_flex"
                              row
                              align-center
                              justify-space-around
                              fill-height
                              wrap
                            >
                              <v-flex v-for="foe in subAction.foes" :key="foe.index" xs7 sm5 md4>
                                <fieldset>
                                  <div class="flex-container">
                                    <div class="flex-item">{{foe.entity_name}}</div>
                                    <div class="flex-item">
                                      <v-checkbox
                                        hide-details
                                        :label="`Saved`"
                                        v-model="foe.saved"
                                        sm1
                                      ></v-checkbox>
                                      <v-checkbox
                                        hide-details
                                        :label="`Resisted`"
                                        v-model="foe.resisted"
                                        sm1
                                      ></v-checkbox>
                                    </div>
                                  </div>
                                </fieldset>
                              </v-flex>
                            </v-layout>
                          </v-container>
                        </template>
                        <v-divider v-if="hasSelectedFoes && hasSelectedCharacters"></v-divider>
                        <template v-if="hasSelectedCharacters">
                          <v-subheader>
                            <span style="font-size: 150%">Allies:&nbsp;</span>
                          </v-subheader>
                          <v-container fluid grid-list-xl>
                            <v-layout class="dialog_flex" row justify-space-around fill-height wrap>
                              <v-flex
                                v-for="ally in subAction.characters"
                                :key="ally.index"
                                xs7
                                sm5
                                md4
                              >
                                <fieldset>
                                  <div class="flex-container">
                                    <div class="flex-item">{{ally.entity_name}}</div>
                                    <div class="flex-item">
                                      <v-checkbox
                                        hide-details
                                        :label="`Saved`"
                                        v-model="ally.saved"
                                        sm1
                                      ></v-checkbox>
                                      <v-checkbox
                                        hide-details
                                        :label="`Resisted`"
                                        v-model="ally.resisted"
                                        sm1
                                      ></v-checkbox>
                                    </div>
                                  </div>
                                </fieldset>
                              </v-flex>
                            </v-layout>
                          </v-container>
                        </template>
                        <v-divider style="border-color: hsla(0,0%,100%,0.75)"></v-divider>
                      </div>

                      <v-card-actions>
                        <v-btn @click="(subActionCreate(false))">Sub-action</v-btn>
                        <v-spacer></v-spacer>
                        <v-btn @click="dialogCondition = false">Save</v-btn>
                      </v-card-actions>
                      <v-footer class="mt-2"></v-footer>
                    </v-card>
                  </v-flex>
                </v-layout>
              </v-dialog>
              <!-- end dialog dialogCondition-->
            </v-flex>
          </v-layout>
          <v-layout row align-center justify-space-around fill-height wrap>
            <v-flex md3 xs5>
              <v-select
                :disabled="action != 'Spell'"
                :items="spellList"
                v-model="spell"
                menu-props="auto"
                label="Spells"
                single-line
                :error-messages="spellErrors"
                style="margin-bottom: 1em"
                @input="$v.spell.$touch()"
                @blur="$v.spell.$touch()"
              ></v-select>
            </v-flex>

            <v-flex md1 xs5>
              <v-text-field
                :disabled="action != 'Spell'"
                style="display: inline"
                type="number"
                label="Spell level"
                v-model="spellLvl"
                :error-messages="spellLevelErrors"
                :max="20"
                :min="1"
                :step="1"
                :value="1"
                xs1
                @input="$v.spellLvl.$touch()"
                @blur="$v.spellLvl.$touch()"
              ></v-text-field>
            </v-flex>

            <v-flex md1 xs5>
              <v-btn @click="miss" :disabled="action != 'Attack'" color="warning">Miss</v-btn>
            </v-flex>

            <v-flex md1 xs5>
              <v-btn :disabled="showSubmit" @click="addLogEntry" color="success">Submit</v-btn>
            </v-flex>
          </v-layout>
        </fieldset>

        <v-list style="max-height: 20em; overflow-y: auto;">
          <template v-for="(logData, index) in battleLog">
            <v-list-tile class="fitcontent" :key="index">
              <v-list-tile-content>
                <div class="log-item-wrapper">
                  <div v-if="logData.newId != undefined" @click="deleteLogEntry(logData.newId)">
                    <div>X</div>
                  </div>
                  <span v-if="logData.action != undefined" v-html="parseToText(logData.action)"></span>
                </div>
              </v-list-tile-content>
            </v-list-tile>
            <v-divider v-if="index != battleLog.length - 1" :key="`divider-${index}`"></v-divider>
          </template>
        </v-list>

        <div style="text-align: right">
          <v-btn @click="clear">clear</v-btn>
          <v-btn :disabled="!valid" @click="submit">Next turn</v-btn>
        </div>
      </v-form>
    </v-container>
  </div>
</template>

<script>
import { validationMixin } from "vuelidate";
import { between, required, requiredIf } from "vuelidate/lib/validators";
import actionList from "../assets/data/actionList.json";
import dmgTypeList from "../assets/data/dmgTypeList.json";
import spellList from "../assets/data/spellList.json";
import conditions from "../assets/data/conditions.json";
import { mapGetters } from "vuex";
import { store } from "../store/store.js";
import { mapActions } from "vuex";
import axios from "axios";
// @vuese
// @group Components
// Component that provides action-logging functionality
export default {
  name: "Activity",
  props: {
    // Index of the current campaign
    campaignIndex: {
      type: String,
      required: true
    },
    // Index of the current battle
    battleIndex: {
      type: String,
      required: true
    }
  },
  data: () => ({
    action: null,
    condition: "",
    dmg: 0,
    dmgType: "",
    submitData: [],
    spell: null,
    spellLvl: null,
    actionList: [],
    conditions: [],
    dmgTypeList: [],
    foes_: [],
    characters_: [],
    battleLog: [],
    spellList: [],
    valid: true,
    dialogTarget: false,
    dialogCondition: false,
    checkboxTargetAllFoes: false,
    checkboxTargetAllAllies: false,
    subActionCount: 2,
    newLogEntryId: 20,
    showAlert: false,
    turnDataCollector: []
  }),
  mixins: [validationMixin],
  validations() {
    return {
      action: {
        required
      },
      spell: {
        requiredIf: requiredIf(() => {
          return this.action == "Spell";
        })
      },
      spellLvl: {
        between: between(1, 20),
        requiredIf: requiredIf(() => {
          return this.action == "Spell";
        })
      }
    };
  },
  computed: {
    ...mapGetters(["currentTurn", "initiativeOrder", "turnQueue"]),
    targets() {
      return {
        foes: this.initiativeOrder.filter((currentValue, index, array) => {
          if (currentValue.entity_type != "CHAR") {
            return true;
          }
        }),
        characters: this.initiativeOrder.filter(
          (currentValue, index, array) => {
            if (currentValue.entity_type == "CHAR") {
              return true;
            }
          }
        )
      };
    },
    foes() {
      return this.foes_.length == 0 ? this.targets.foes : this.foes_;
    },
    characters() {
      return this.characters_.length == 0
        ? this.targets.characters
        : this.characters_;
    },
    // @vuese
    // Returns boolean value to toggle disabled property of the "Submit" button.
    showSubmit() {
      var listActions = [
        "Dash",
        "Hide",
        "Ready",
        "Search",
        "Use an Object",
        "Delay"
      ];
      if (listActions.includes(this.action)) {
        listActions.includes(this.action);
        this.subActionCreate(false);
      }
      return (
        !this.valid ||
        (this.submitData.length <= 0 &&
          !listActions.includes(this.$v.action.$model))
      );
    },
    // @vuese
    // Returns an array of selected characters.
    hasSelectedCharacters() {
      return this.characters.some(element => element.selected);
    },
    // @vuese
    // Returns an array of selected foes.
    hasSelectedFoes() {
      return this.foes.some(element => element.selected);
    },
    // @vuese
    // Returns an array of input validation errors related to the spell level.
    spellLevelErrors() {
      const errors = [];
      if (!this.$v.spellLvl.$dirty) return errors;
      !this.$v.spellLvl.between &&
        errors.push("Spell level must be between 1 and 20");
      !this.$v.spellLvl.requiredIf && errors.push("Spell level is required");
      return errors;
    },
    // @vuese
    // Returns an array of input validation errors related to the spells.
    spellErrors() {
      const errors = [];
      if (!this.$v.spell.$dirty) return errors;
      !this.$v.spell.requiredIf && errors.push("Spell is required");
      return errors;
    },
    // @vuese
    // Returns an array of input validation errors related to the action type.
    actionErrors() {
      const errors = [];
      if (!this.$v.action.$dirty) return errors;
      !this.$v.action.required && errors.push("Action is required");
      return errors;
    }
  },
  // Used to initialize objects with loaded data on the creation of the component.
  created: function() {
    this.spellList = spellList.spellList;
    this.actionList = actionList.actionList;
    this.conditions = conditions.conditions;
    this.dmgTypeList = dmgTypeList.dmgTypeList;
    axios({
      method: "get",
      url: "/api/battles/" + this.battleIndex + "/turns/"
    })
      .then(response => {
        let temp = response.data["Data"];
        for (let i = 0; i < temp.length; i++) {
          for (let j = 0; j < temp[i].actions.length; j++) {
            temp[i].actions[j].attacker_name = temp[i].attacker_name;
            this.battleLog.unshift({
              action: this.parseToText(temp[i].actions[j])
            });
          }
        }
      })
      .catch(response => {
        alert("Server error: " + response);
      });
  },
  // Used to initialize targets object with the loaded characters and foes after the component was mounted.
  mounted: function() {
    this.$v.action.$model = this.actionList[0];
  },
  methods: {
    ...mapActions(["setCurrentTurn", "addToTurnQueue", "setTurnEntityId"]),
    translateId(type, value, reverse) {
      let arr = {
        action_type_id: [
          "Attack",
          "Delay",
          "Disengage",
          "Dash",
          "Dodge",
          "Help",
          "Hide",
          "Ready",
          "Search",
          "Spell",
          "Use an Object",
          "Use a Skill"
        ],
        condition_id: [
          "NONE",
          "Blinded",
          "Charmed",
          "Deafened",
          "Exhaustion",
          "Frightened",
          "Grappled",
          "Incapacitated",
          "Invisible",
          "Paralyzed",
          "Petrified",
          "Poisoned",
          "Prone",
          "Restrained",
          "Stunned",
          "Unconscious"
        ],
        dmg_type_id: [
          "Acid",
          "Bludgeoning",
          "Cold",
          "Fire",
          "Force",
          "Healing",
          "Lightning",
          "Necrotic",
          "Piercing",
          "Poison",
          "Psychic",
          "Radiant",
          "Slashing",
          "Thunder"
        ]
      };
      if (reverse) return arr[type].indexOf(value) + 1;
      else return arr[type][value - 1];
    },
    // @vuese
    // Used to translate JSON data about the submitted action into a human readable sentence.
    // @arg The argument is an object representing the information collected about the submitted  action. For example, targeted foes and allies, damage and damage type, condition etc.
    parseToText(action) {
      var listStr = "";
      if (typeof action === "string") return action;
      var listOfTargets = action.targets;
      var actionText;
      // for (let index = 0; index < action.length; index++) {
      switch (action.action_type) {
        case "Attack":
          actionText = " hit ";
          break;
        case "Spell":
          actionText = " casted a spell on ";
          break;
        case "Disengage":
          actionText = " disengaged from ";
          break;
        default:
          actionText = action.action_type;
      }
      for (let index = 0; index < listOfTargets.length; index++) {
        listStr +=
          '<span style="color:lightgreen">&nbsp;' +
          actionText +
          "&nbsp;</span>";
        listStr +=
          '<span style="color:red">' +
          listOfTargets[index].target.name +
          "&nbsp;</span>";
        if (listOfTargets[index].dmg.length > 0) {
          listStr +=
            '<span style="color:orange">and dealt ' +
            listOfTargets[index].dmg[0].value +
            " damage</span>";
        } else if (action.action_type == "Attack") {
          listStr += '<span style="color:orange">and missed</span>';
        }
        listStr += index + 1 == listOfTargets.length ? " " : ", ";
      }
      listStr =
        '<span style="color:white">' +
        action.attacker_name +
        "&nbsp;</span>" +
        listStr;
      console.log("listStr");
      console.log(listStr);
      return listStr;
    },
    // @vuese
    // Used to create a subaction inside the condition dialog.
    // @arg The argument is a boolean value. True for the function call when the used clicked the "Condition" button, False for any other function call.
    subActionCreate(auto) {
      if (auto && this.submitData.length > 0) {
        for (let i = 0; i < this.submitData.length; i++) {
          if (
            JSON.stringify(this.submitData[i]["foesSelected"]) ==
              JSON.stringify(this.charactersCondition(this.foes)) &&
            JSON.stringify(this.submitData[i]["charactersSelected"]) ==
              JSON.stringify(this.charactersCondition(this.characters))
          )
            return;
          else this.submitData = [];
        }
      }
      this.$v.$touch();
      if (this.$v.$anyError) return;
      let submitDataTemp = {
        action_type: this.$v.action.$model,
        targets: [],
        characters: [],
        foes: [],
        id: this.subActionCount++
      };
      let combatants = this.charactersCondition(this.foes).concat(
        this.charactersCondition(this.characters)
      );
      for (let ind = 0; ind < combatants.length; ind++) {
        let temp = {
          target: {
            name: combatants[ind].entity_name
          },
          dmg: []
        };
        if (combatants[ind].entity_type == "CHAR") {
          submitDataTemp.characters.push(combatants[ind]);
        } else if (combatants[ind].entity_type == "MON") {
          submitDataTemp.foes.push(combatants[ind]);
        }
        // if (submitDataTemp.dmg > 0 || submitDataTemp.dmg < 0)
        //   temp.dmg.push({ value: submitDataTemp.dmg });
        submitDataTemp.targets.push(temp);
      }
      if (this.$v.action.$model == "Spell") {
        submitDataTemp.spell = this.$v.spell.$model;
        submitDataTemp.spellLvl = this.$v.spellLvl.$model;
      }
      submitDataTemp.condition = this.condition;
      submitDataTemp.entity_name = this.copyData(
        this.initiativeOrder[this.currentTurn].entity_name
      );
      this.submitData.push(this.copyData(submitDataTemp));
    },
    // @vuese
    // Used to log a miss for the current action.
    miss() {
      this.$v.$touch();
      if (this.$v.$anyError) return;
      var actionTemp = ["Attack"];
      var charactersConditionFoes = this.charactersCondition(this.foes);
      var charactersConditionAllies = this.charactersCondition(this.characters);
      if (
        actionTemp.includes(this.$v.action.$model) &&
        charactersConditionFoes.length == 0 &&
        charactersConditionAllies.length == 0
      ) {
        this.showAlert = true;
        setTimeout(() => (this.showAlert = false), 2000);
        return;
      }
      this.subActionCreate(false);
      this.addLogEntry();
      this.submitData = [];
    },
    // @vuese
    // Used to prepare and send data for the current turn to the server and save actions for the current turn.
    submit() {
      if (!this.$refs.form.validate()) {
        return;
      }
      if (!confirm("Are you sure you want to go to the next turn?")) {
        return;
      }

      for (let i = 0; i < this.battleLog.length; i++) {
        this.battleLog[i].newId = undefined;
      }
      console.log("this.turnDataCollector");
      console.log(this.turnDataCollector);
      // let tempArr = ["id", "newId"];
      let sendData = {
        attacker_id: this.copyData(
          this.initiativeOrder[this.currentTurn].entity_id
        ),
        actions: []
      };
      for (let index = 0; index < this.turnDataCollector.length; index++) {
        let action = this.copyData(this.turnDataCollector[index].action[0]);
        action.action_type_id = this.translateId(
          "action_type_id",
          action.action_type,
          true
        );
        action.targets = [];
        action.entities = [].concat(action.characters);
        action.entities = action.entities.concat(action.foes);
        for (let index3 = 0; index3 < action.entities.length; index3++) {
          let temp = {
            target_id: action.entities[index3].entity_id,
            conditions: [
              {
                condition_id: this.translateId(
                  "condition_id",
                  action.condition == "" || action.condition == undefined
                    ? "NONE"
                    : action.condition,
                  true
                )
              }
            ]
          };
          if (action.dmg > 0 || action.dmg < 0) {
            temp.dmgs = [
              {
                dmg_type_id: this.translateId(
                  "dmg_type_id",
                  action.dmgType == undefined ? 0 : action.dmgType,
                  true
                ),
                dmg_value: action.dmg
              }
            ];
          }
          console.log("temp");
          console.log(temp);
          action.targets.push(this.copyData(temp));
        }
        delete action.action_type;
        delete action.condition;
        delete action.dmgType;
        delete action.entities;
        delete action.foes;
        delete action.characters;
        sendData.actions.push(action);
        console.log("action");
        console.log(action);
      }
      this.setCurrentTurn((this.currentTurn + 1) % this.initiativeOrder.length);
      this.setTurnEntityId(this.initiativeOrder[this.currentTurn].entity_id);
      console.log("Data sent to server:");
      console.log(
        JSON.stringify({
          attacker_id: sendData.attacker_id,
          actions: sendData.actions
        })
      );
      axios({
        method: "post",
        url: "/api/battles/" + this.battleIndex + "/turns/",
        data: JSON.stringify({
          attacker_id: sendData.attacker_id,
          actions: sendData.actions
        }),
        config: {
          headers: {
            "Content-Type": "multipart/form-data"
          }
        }
      })
        .then(response => {
          alert("Success");
        })
        .catch(response => {
          alert("Server error: " + response);
        });
      this.addToTurnQueue(sendData);
      this.turnDataCollector = [];
      this.submitData = [];
      this.clear();
    },
    // @vuese
    // Used to clear the values in the spells dropdown and spell level input field.
    clearSelectedSpell() {
      if (this.action != "Spell") {
        this.spell = null;
        this.spellLvl = null;
      }
    },
    // @vuese
    // Used to reset the form.
    clear() {
      this.$refs.form.reset();
      this.$v.action.$model = this.actionList[0];
    },
    // @vuese
    // Used to assign boolean value of the second argument to the property field named "selected" for all characters or foes.
    // @arg The first argument is an array of characters or foes; The second argumet is a boolean value that will be assigned to the property field named "selected" for all characters or foes.
    checkAll(array, check) {
      array.forEach(element => {
        element.selected = check;
      });
    },
    // @vuese
    // Used to filter and return only selected characters or foes.
    // @arg The argument is an array of characters or foes.
    charactersCondition(array) {
      return array.filter(element => {
        if (element.selected) return element;
      });
    },
    // @vuese
    // Used to filter characters and foes by their names.
    // @arg The argument is a string that will be matched to the character sequence in each character's and foe's name.
    searchTarget(a) {
      if (a == "" || a == null || a == undefined) {
        this.foes_ = this.targets.foes;
        this.characters_ = this.targets.characters;
        return;
      }
      this.foes_ = this.targets.foes.filter((currentValue, index, array) => {
        if (currentValue.entity_name.toLowerCase().includes(a.toLowerCase())) {
          return true;
        }
      });

      this.characters_ = this.targets.characters.filter(
        (currentValue, index, array) => {
          if (
            currentValue.entity_name.toLowerCase().includes(a.toLowerCase())
          ) {
            return true;
          }
        }
      );
    },
    // @vuese
    // Used to delete a subaction by it's index.
    // @arg The argument is a string value of the index.
    deleteSubAction(ind) {
      let remove_index;
      for (let index = 0; index < this.submitData.length; index++) {
        if (this.submitData[index].id == ind) {
          remove_index = index;
          break;
        }
      }
      this.submitData.splice(remove_index, 1);
    },
    // @vuese
    // Used to delete a log entry by it's id.
    // @arg The argument is a string value of the id.
    deleteLogEntry(id) {
      for (let i = 0; i < this.battleLog.length; i++) {
        if (this.battleLog[i].newId == id) {
          this.battleLog.splice(i, 1);
          break;
        }
      }
      for (let i = 0; i < this.turnDataCollector.length; i++) {
        if (this.turnDataCollector[i].newId == id) {
          this.turnDataCollector.splice(i, 1);
          break;
        }
      }
    },
    // @vuese
    // Utility function for making a deep copy of an object.
    // @arg The argument is an object to be copied.
    copyData(obj) {
      return JSON.parse(JSON.stringify(obj));
    },
    // @vuese
    // Used to add a log entry of the current action.
    addLogEntry() {
      this.$v.$touch();
      if (this.$v.$anyError) return;
      var actionTemp = ["Attack", "Spell", "Withdraw"];
      let action = [];
      let combatants = this.charactersCondition(this.foes).concat(
        this.charactersCondition(this.characters)
      );
      if (
        actionTemp.includes(this.$v.action.$model) &&
        combatants.length == 0
      ) {
        this.showAlert = true;
        setTimeout(() => (this.showAlert = false), 2000);
        return;
      }
      for (let i = 0; i < this.submitData.length; i++) {
        if (this.submitData[i].dmg > 0 || this.submitData[i].dmg < 0) {
          for (let j = 0; j < this.submitData[i].targets.length; j++) {
            this.submitData[i].targets[j].dmg.push({
              value: this.submitData[i].dmg
            });
          }
        }
      }

      this.turnDataCollector.unshift(
        this.copyData({
          action: this.submitData,
          newId: ++this.newLogEntryId
        })
      );
      for (let i = 0; i < this.submitData.length; i++) {
        this.submitData[i].attacker_name = this.initiativeOrder[
          this.currentTurn
        ].entity_name;
        this.battleLog.unshift(
          this.copyData({
            action: this.parseToText(this.submitData[i]),
            newId: this.newLogEntryId
          })
        );
        const element = this.submitData[i];
      }

      this.submitData = [];
      this.subActionCount = 1;
    }
  }
};
</script>

<style>
@import "../assets/css/activity.css";
</style>
