<!--
Developer: Harry Staley
Modified: David Velez/Artem Skitenko
-->

<template>
  <div class="Campaign">
    <p>
      <a href="https://www.vecteezy.com/">Vector Design by Vecteezy</a>
    </p>
    <h1>Campaigns</h1>
    <div class="holder">
      <v-list>
        <!-- List of battles -->
        <template v-for="(Campaign, index) in json.Data" avatar>
          <v-list-tile
            v-ripple
            style="cursor: pointer"
            :key="index"
            @click="goToBattles(Campaign.id)"
          >
            <v-list-tile-content>
              <v-list-tile-title>
                <div class="opposite-sides-string-wrapper">
                  <div>{{ Campaign.name }}</div>
                  <div class="opposite-sides-right">{{ Campaign.dateCreated }}</div>
                </div>
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-divider v-if="index + 1 < json.Data.length" :key="`divider-${index}`"></v-divider>
        </template>
      </v-list>
    </div>

    <!-- Button that pops up a window to allow entry for new campaign -->
    <!-- Developers: Artem and David -->
    <v-layout class="campaigns_FAB_wrapper">
      <v-dialog v-model="dialog" persistent max-width="500px">
        <v-btn slot="activator" color="blue" dark medium fixed bottom right fab>
          <v-icon>add</v-icon>
        </v-btn>
        <v-card>
          <v-card-title>
            <v-text-field v-model="newCampaignName" label="Campaign Name"></v-text-field>
          </v-card-title>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary lighten-1" flat @click="dialog = false">Cancel</v-btn>
            <v-btn color="primary lighten-1" flat @click.native="addCampaign">Create</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-layout>
    <!-- End of Button -->
  </div>
</template>

<script>
// @ starts at /src
import axios from "axios";
// @vuese
// @group Components
// Component that fetches and displays the list of campaigns
export default {
  name: "Campaigns",
  data() {
    return {
      json: {},
      dialog: false,
      newCampaignName: ""
    };
  },
  methods: {
    // @vuese
    // Used to redirect user to a list of battles for the specific campaign
    // @arg The argument is a string value representing campaign id
    goToBattles(campaignId) {
      // Added Route to Battles and Characters passing the index -DV
      var index = 0;
      while (this.json.Data[index].id != campaignId) {
        index++;
      }
      this.$router.push(`/battles-and-characters/campaignIndex=${index}`);
    },
    addCampaign() {
      if (this.newCampaignName == "") {
        this.dialog = false;
        return;
      }
      var today = new Date();
      var dd = today.getDate();
      var mm = today.getMonth() + 1; // January is 0!

      var yyyy = today.getFullYear();
      if (dd < 10) {
        dd = "0" + dd;
      }
      if (mm < 10) {
        mm = "0" + mm;
      }
      var today = mm + "/" + dd + "/" + yyyy;
      this.json.Data.unshift({
        campaignId: 6,
        name: this.newCampaignName,
        dateCreated: today,
        battles: [],
        characters: []
      });
      this.dialog = false;
    }
  },
  // Used to send and API request and retrieve a list of campaigns after the component was mounted
  mounted() {
    axios
      .get("/api/campaigns/", {
        headers: { "Access-Control-Allow-Origin": "*" }
      })
      .then(data => {
        this.json = data.data;
      });
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

<style scoped>
h3 {
  margin: 40px 0 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

.campaigns_FAB_wrapper {
  position: relative;
}

.campaigns_FAB_wrapper .v-btn--floating {
  bottom: 5%;
  right: 5%;
  position: fixed;
}
</style>
