<!--
  Developer: David Valez
  Modified: Harry Staley
-->

<template>
  <div class="v-speed-dia_wrapper">
    <v-speed-dial
      id="v-speed-dial_"
      :direction="'top'"
      :open-on-hover="false"
      :transition="'slide-y-reverse-transition'"
    >
      <v-btn slot="activator" color="blue" dark fab>
        <v-icon>add</v-icon>
        <v-icon>close</v-icon>
      </v-btn>

      <v-btn fab dark small color="green" v-on:click="navigateTo('/characters/create')">
        <!-- Modified: Harry Staley -->
        <v-icon>edit</v-icon>
      </v-btn>
      <v-btn fab dark small color="red" @click="fabClick">
        <v-icon>picture_as_pdf</v-icon>
      </v-btn>
    </v-speed-dial>
    <form id="pdfsubmit" method="POST" style="display:none;" @change="pdfRead">
      <input type="file" id="pdf-picker" accept=".pdf">
      <button type="submit"></button>
    </form>
  </div>
</template>

<script>
// @vuese
// @group Components
// Component that fetches and displays the list of campaigns
export default {
  name: "FabCreatePC",
  props: {
    // String with the type of the entity
    create_pc_type: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      pdfFile: null
    };
  },
  mounted() {},
  methods: {
    // @vuese
    // Used to redirect the user to the route passed as the argument.
    // @arg The argument is a string value the route.
    navigateTo: function(route) {
      // Developer: Harry Staley
      this.$router.push({ path: route });
    },
    // @vuese
    // Used to open a file selector popup.
    fabClick: function() {
      this.pdfFile = document.getElementById("pdf-picker");
      this.pdfFile.click();
    },
    // @vuese
    // Used to upload the PDF file to the server.
    // @arg The argument is an onChange event of the HTML form.
    pdfRead: function(event) {
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "/api/characters/pdf", true);
      xhr.onload = function(event) {
        alert("Success, server responded with: " + event.target.response); // raw response
      };
      var fileInput = document.getElementById("pdf-picker");
      var file = fileInput.files[0];
      console.log(file);
      var formData = new FormData();
      formData.append("file", file);
      console.log(formData);
      xhr.send(formData);
    }
  }
};
</script>
<style>
@import "../assets/css/FabCreatePC.css";
</style>
