<!--
 Developer: Harry Staley
 Forked from FabCreatePC forked and customized from FabCreatePC written by Artem Skitenko
-->

<template>
  <div class="v-speed-dia_wrapper">
    <v-speed-dial
      id="v-speed-dial_"
      :direction="'top'"
      :open-on-hover="false"
      :transition="'slide-y-reverse-transition'"
    >
      <v-btn slot="activator" color="blue" dark fab>
        <v-icon>add</v-icon>
        <v-icon>close</v-icon>
      </v-btn>

      <v-btn fab dark small color="green" v-on:click="navigateTo('/monsters/create')">
        <!-- Modified: Harry Staley -->
        <v-icon>edit</v-icon>
      </v-btn>
      <v-btn
        fab
        dark
        small
        color="red"
        v-on:click="fabClick('import ' + create_mc_type + ' sheet as PDF')"
      >
        <v-icon>picture_as_pdf</v-icon>
      </v-btn>
    </v-speed-dial>
  </div>
</template>

<script>
// @vuese
// @group Components
// Component that fetches and displays the list of campaigns
export default {
  name: "FabCreateMC",
  props: {
    // String with the type of the entity
    create_mc_type: {
      type: String,
      required: true
    }
  },
  data() {
    return {};
  },
  methods: {
    // @vuese
    // Used to redirect the user to the route passed as the argument.
    // @arg The argument is a string value the route.
    navigateTo: function(route) {
      // Developer: Harry Staley
      this.$router.push({ path: route });
    },
    // @vuese
    // Used to log FAB click event to the console (in developmet and testing).
    // @arg The argument is a string with the type of the entity passed in the prop.
    fabClick: event => {
      console.log(event);
    }
  }
};
</script>

<style>
@import "../assets/css/FabCreateMC.css";
</style>
