<template>
  <div class="initiative">
    <div class="holder">
      <v-list>
        <template v-for="(data, index) in initiativeOrder">
          <v-list-tile
            :class="index == currentTurn? (data.entity_type == 'CHAR' ? 'current_initiativeC' : 'current_initiativeM'):''"
            :key="index"
          >
            <v-list-tile-content>
              <v-list-tile-title>
                <div class="opposite-sides-string-wrapper">
                  <div>{{ data.entity_name }}</div>
                  <div class="opposite-sides-right">{{ data.initiative }}</div>
                </div>
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-divider v-if="index + 1 < initiativeOrder.length" :key="`divider-${index}`"></v-divider>
        </template>
      </v-list>
    </div>
  </div>
</template>

<script>
import { store } from "../store/store.js";
import { mapGetters } from "vuex";
import { mapActions } from "vuex";
import axios from "axios";
// @vuese
// @group Components
// Component that keeps track of the initiative order
export default {
  name: "Initiative",
  props: {
    // Index of the current campaign
    campaignIndex: {
      type: String,
      required: true
    },
    // Index of the current battle
    battleIndex: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      order: []
    };
  },
  // Used to load current turn and save it to the global store using "setCurrentTurn".
  created: function() {
    axios.get("/api/battles/" + this.battleIndex + "/entities/").then(data => {
      this.entities = data.data.Data;
      axios.get("/api/battles/" + this.battleIndex + "/turns/").then(data => {
        this.turns = data.data.Data;
        console.log("turns");
        console.log(this.turns);
        this.setCurrentTurn(this.turns.length % this.entities.length);
        this.order = JSON.parse(JSON.stringify(this.entities));
        this.order.sort(function(a, b) {
          return b.initiative - a.initiative;
        });
        this.setInitiativeOrder(JSON.parse(JSON.stringify(this.order)));
        this.setTurnEntityId(this.initiativeOrder[this.currentTurn].entity_id);
        this.order = [];
        console.log('current "turn" ' + this.currentTurn);
        console.log('current "turnEntityId" ' + this.turnEntityId);
      });
    });
    // .catch(response => {
    //   this.entities = [
    //     {
    //       battle_id: 1,
    //       battle_name: "RAM Battle",
    //       entity_id: 1,
    //       entity_name: "Intel the Proctor",
    //       entity_type: "CHAR",
    //       id: 1,
    //       initiative: 4
    //     },
    //     {
    //       battle_id: 1,
    //       battle_name: "RAM Battle",
    //       entity_id: 2,
    //       entity_name: 'Corsair "The Mechanical" Key Keeper',
    //       entity_type: "CHAR",
    //       id: 2,
    //       initiative: 3
    //     },
    //     {
    //       battle_id: 1,
    //       battle_name: "RAM Battle",
    //       entity_id: 3,
    //       entity_name: "Logi the Tech",
    //       entity_type: "CHAR",
    //       id: 3,
    //       initiative: 6
    //     },
    //     {
    //       battle_id: 1,
    //       battle_name: "RAM Battle",
    //       entity_id: 4,
    //       entity_name: "Yeti the Blue",
    //       entity_type: "CHAR",
    //       id: 4,
    //       initiative: 7
    //     },
    //     {
    //       battle_id: 1,
    //       battle_name: "RAM Battle",
    //       entity_id: 10,
    //       entity_name: "Academic Advisor",
    //       entity_type: "MON",
    //       id: 10,
    //       initiative: 4
    //     }
    //   ];
    //   this.order = JSON.parse(JSON.stringify(this.entities));
    //   this.order.sort(function(a, b) {
    //     return b.initiative - a.initiative;
    //   });
    //   this.setInitiativeOrder(JSON.parse(JSON.stringify(this.order)));
    //   this.setCurrentTurn(1);
    //   this.setTurnEntityId(
    //     "" + this.initiativeOrder[this.currentTurn].entity_id
    //   );
    // });
  },
  computed: {
    ...mapGetters(["currentTurn", "initiativeOrder", "turnEntityId"])
  },
  methods: {
    ...mapActions(["setInitiativeOrder", "setCurrentTurn", "setTurnEntityId"])
  }
};
</script>

<style>
@import "../assets/css/initiative.css";
</style>
