<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block meta_desc %}
  {% endblock meta_desc %}
  <meta name="author" content="staleyh@gmail.com">
  {% block title %}
  {% endblock title %}
  {% block head %}
  {% endblock head %}
</head>

<body>
  <header>
  </header>

  {% block content %}
  {% endblock content %}

  <footer>
  </footer>
 
  {% block js %}
  {% endblock js %}

</body>

</html>
